Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: 80..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: false

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"
  require_changes: true
  behavior: default

github_checks:
  annotations: true

flag_management:
  default_rules:
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
        threshold: 1%
        informational: true
      - type: patch
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: true
  individual_components:
    - component_id: player_app
      name: Player (App)
      paths:
        - "packages/player/src/**"
    - component_id: player_tauri
      name: Player (Tauri Rust)
      paths:
        - "packages/player/src-tauri/**"
    - component_id: ui
      name: UI Library
      paths:
        - "packages/ui/src/**"
    - component_id: hifi
      name: Hifi
      paths:
        - "packages/hifi/src/**"
    - component_id: model
      name: Data Model
      paths:
        - "packages/model/src/**"
    - component_id: plugin_sdk
      name: Plugin SDK
      paths:
        - "packages/plugin-sdk/src/**"
    - component_id: themes
      name: Themes
      paths:
        - "packages/themes/src/**"

ignore:
  - "packages/docs/**"
  - "packages/storybook/**"
  - "**/__snapshots__/**"
  - "**/*.snap"
  - "packages/**/dist/**"
  - "**/*.d.ts"

Defaults for track table
  packages/player/src/views/Artist/components/ArtistPopularTracks.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/defaults.ts
Due: Player (App), UI Library

Style tweaks
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/services/advancedThemeDirService.ts
  packages/player/src/views/Artist/Artist.tsx
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Artist/components/ArtistAlbumsGrid.tsx
  packages/player/src/views/Artist/components/ArtistHeader.tsx
  packages/player/src/views/Artist/components/ArtistPopularTracks.tsx
  packages/player/src/views/Artist/components/ArtistSimilarArtists.tsx
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/tailwind-config/global.css
  packages/ui/src/components/BottomBar.tsx
  packages/ui/src/components/PlayerBar/__snapshots__/PlayerBar.test.tsx.snap
  packages/ui/src/components/PluginItem/PluginItem.tsx
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
  packages/ui/src/components/TopBar.tsx
  packages/ui/src/components/TrackTable/Cells/TextCell.tsx
  packages/ui/src/components/TrackTable/Cells/ThumbnailCell.tsx
  packages/ui/src/components/TrackTable/SortableRow.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/__snapshots__/TrackTable.test.tsx.snap
  packages/ui/src/components/ViewShell/ViewShell.tsx
  packages/ui/src/components/__snapshots__/PlayerShell.test.tsx.snap
Due: Player (App), UI Library

Migrate rounded -> rounded-md
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/routes/__root.tsx
  packages/player/src/services/advancedThemeDirService.ts
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Artist/components/ArtistHeader.tsx
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/Themes.tsx
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/storybook/src/PlayerWorkspace.stories.tsx
  packages/storybook/src/ScrollableArea.stories.tsx
  packages/storybook/src/TopBar.stories.tsx
  packages/tailwind-config/global.css
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Card/__snapshots__/Card.test.tsx.snap
  packages/ui/src/components/CardGrid/__snapshots__/CardGrid.test.tsx.snap
  packages/ui/src/components/Input/Input.tsx
  packages/ui/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/ui/src/components/PlayerBar/PlayerBarNowPlaying.tsx
  packages/ui/src/components/PlayerBar/__snapshots__/PlayerBar.test.tsx.snap
  packages/ui/src/components/PlayerWorkspace/__snapshots__/PlayerWorkspace.test.tsx.snap
  packages/ui/src/components/PluginItem/PluginItem.tsx
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
  packages/ui/src/components/Popover/Popover.tsx
  packages/ui/src/components/Popover/__snapshots__/Popover.test.tsx.snap
  packages/ui/src/components/Select/Select.tsx
  packages/ui/src/components/Select/SelectOptions.tsx
  packages/ui/src/components/Select/__snapshots__/Select.test.tsx.snap
  packages/ui/src/components/Slider/Slider.tsx
  packages/ui/src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  packages/ui/src/components/Toaster/Toaster.tsx
  packages/ui/src/components/__snapshots__/PlayerShell.test.tsx.snap
Due: Player (App), UI Library

Update themes tests
  packages/player/src/test/mocks/plugin-fs.ts
  packages/player/src/views/Themes/Themes.test.tsx
Due: Player (App)

Fix types for themes tests
  packages/player/src/views/Themes/Themes.test.tsx
Due: Player (App)

Bump version to 0.0.9
  package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/hifi/package.json
  packages/model/package.json
  packages/player/package.json
  packages/player/src-tauri/Cargo.lock
  packages/player/src-tauri/Cargo.toml
  packages/player/src-tauri/tauri.conf.json
  packages/plugin-sdk/package.json
  packages/storybook/package.json
  packages/tailwind-config/package.json
  packages/themes/package.json
  packages/ui/package.json
Due: Player (Tauri Rust)

Remove @nuclearplayer/model from the published package's dependencies
  .github/workflows/release-plugin-sdk.yml
Due: none

Bump plugin-sdk to 0.0.10
  packages/plugin-sdk/package.json
Due: none

Update exports and readmes
  packages/docs/README.md
  packages/plugin-sdk/README.md
  packages/plugin-sdk/src/index.ts
Due: Plugin SDK

Linter
  packages/hifi/package.json
  packages/model/package.json
  packages/player/package.json
  packages/tailwind-config/package.json
  packages/themes/package.json
  packages/ui/package.json
Due: none

Linter
  packages/plugin-sdk/package.json
Due: none

Bump plugin-sdk to 0.0.11
  packages/plugin-sdk/package.json
Due: none

Use api extractor to build plugin sdk
  packages/plugin-sdk/api-extractor.json
  packages/plugin-sdk/package.json
  packages/plugin-sdk/tsconfig.json
  pnpm-lock.yaml
Due: none

Bump plugin-sdk to 0.0.12
  packages/plugin-sdk/package.json
Due: none

Linter
  packages/plugin-sdk/api-extractor.json
  packages/plugin-sdk/package.json
Due: none

Bump plugin-sdk to 0.0.13
  packages/plugin-sdk/package.json
Due: none

Build model before plugin sdk
  .github/workflows/release-plugin-sdk.yml
  packages/plugin-sdk/package.json
  pnpm-lock.yaml
Due: none

Pin package versions
  packages/plugin-sdk/package.json
  pnpm-lock.yaml
Due: none

Bump plugin-sdk to 0.0.14
  packages/plugin-sdk/package.json
Due: none

Track original plugin location
  packages/player/src/App.hydration.test.tsx
  packages/player/src/services/plugins/pluginBootstrap.ts
  packages/player/src/services/plugins/pluginRegistry.ts
  packages/player/src/stores/pluginStore.test.ts
  packages/player/src/stores/pluginStore.tsx
  packages/player/src/test/builders/PluginStateBuilder.ts
  packages/player/src/test/utils/seedPluginRegistry.ts
Due: Player (App)

Allow reloading and removing plugins
  packages/player/src/services/plugins/pluginDir.ts
  packages/player/src/stores/pluginStore.test.ts
  packages/player/src/stores/pluginStore.tsx
  packages/player/src/test/utils/inMemoryTauriStore.ts
Due: Player (App)

Reload and remove handlers for plugin item
  packages/storybook/src/PluginItem.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/PluginItem/PluginItem.test.tsx
  packages/ui/src/components/PluginItem/PluginItem.tsx
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
Due: UI Library

Add handlers for reloading and removing plugins
  packages/player/src/test/utils/testPluginFolder.ts
  packages/player/src/views/Plugins/Plugins.test.tsx
  packages/player/src/views/Plugins/Plugins.tsx
Due: Player (App)

Plugin loading state
  packages/storybook/src/PluginItem.stories.tsx
  packages/ui/src/components/PluginItem/PluginItem.tsx
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
  packages/ui/src/styles.css
Due: UI Library

Display loading state for plugins
  packages/player/src/views/Plugins/Plugins.tsx
  packages/storybook/src/Button.stories.tsx
  packages/storybook/src/PluginItem.stories.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/PluginItem/PluginItem.tsx
Due: Player (App), UI Library

Refactor plugin reloads
  packages/player/package.json
  packages/player/src/stores/pluginStore.tsx
  pnpm-lock.yaml
Due: Player (App)

Remove implementation detail assertion
  packages/player/src/stores/pluginStore.test.ts
Due: Player (App)

Adapt tests to the new plugin loading process
  packages/player/src/views/Plugins/Plugins.test.tsx
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
Due: Player (App)

Allow replacing query client
  packages/player/src/App.test.tsx
  packages/player/src/App.tsx
Due: Player (App)

Lint
  packages/plugin-sdk/package.json
Due: none

Initialize the i18n package
  .github/copilot-instructions.md
  crowdin.yml
  packages/i18n/package.json
  packages/i18n/src/i18n.ts
  packages/i18n/src/index.ts
  packages/i18n/src/locales/en_US.json
  packages/i18n/src/types.ts
  packages/i18n/tsconfig.json
  packages/i18n/vite.config.ts
  packages/player/package.json
  packages/player/src/App.tsx
  packages/player/src/main.tsx
  packages/player/src/routes/__root.tsx
  packages/player/src/views/Search/Search.tsx
  pnpm-lock.yaml
  tsconfig.json
Due: Player (App)

Adapt themes view to use i18n strings
  packages/i18n/src/i18n.ts
  packages/i18n/src/locales/en_US.json
  packages/player/src/views/Themes/Themes.tsx
Due: Player (App)

Adapt settings view to use i18n strings
  packages/i18n/src/i18n.ts
  packages/i18n/src/locales/en_US.json
  packages/player/src/views/Settings/SettingField.tsx
  packages/player/src/views/Settings/Settings.tsx
  packages/player/src/views/Settings/useSettingTranslation.ts
Due: Player (App)

Add translated strings over several components
  packages/i18n/src/i18n.ts
  packages/i18n/src/locales/en_US.json
  packages/player/src/views/Artist/components/ArtistAlbumsGrid.tsx
  packages/player/src/views/Artist/components/ArtistHeader.tsx
  packages/player/src/views/Artist/components/ArtistPopularTracks.tsx
  packages/player/src/views/Artist/components/ArtistSimilarArtists.tsx
  packages/player/src/views/Dashboard.tsx
  packages/player/src/views/Plugins/Plugins.tsx
Due: Player (App)

Remove test script
  packages/i18n/package.json
Due: none

Update snapshot
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

Linter
  packages/i18n/package.json
  packages/i18n/src/locales/en_US.json
  packages/player/package.json
Due: none

New translations en_us.json (French)
  packages/i18n/src/locales/fr_FR.json
Due: none

New translations en_us.json (Spanish)
  packages/i18n/src/locales/es_ES.json
Due: none

New translations en_us.json (German)
  packages/i18n/src/locales/de_DE.json
Due: none
