Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: 80..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: false

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"
  require_changes: true
  behavior: default

github_checks:
  annotations: true

flag_management:
  default_rules:
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
        threshold: 1%
        informational: true
      - type: patch
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: true
  individual_components:
    - component_id: player_app
      name: Player (App)
      paths:
        - "packages/player/src/**"
    - component_id: player_tauri
      name: Player (Tauri Rust)
      paths:
        - "packages/player/src-tauri/**"
    - component_id: ui
      name: UI Library
      paths:
        - "packages/ui/src/**"
    - component_id: hifi
      name: Hifi
      paths:
        - "packages/hifi/src/**"
    - component_id: model
      name: Data Model
      paths:
        - "packages/model/src/**"
    - component_id: plugin_sdk
      name: Plugin SDK
      paths:
        - "packages/plugin-sdk/src/**"
    - component_id: themes
      name: Themes
      paths:
        - "packages/themes/src/**"

ignore:
  - "packages/docs/**"
  - "packages/storybook/**"
  - "**/__snapshots__/**"
  - "**/*.snap"
  - "packages/**/dist/**"
  - "**/*.d.ts"

Refactor providers host
  packages/player/src/hooks/useCoreSetting.ts
  packages/player/src/services/languageService.ts
  packages/player/src/services/plugins/PluginLoader.ts
  packages/player/src/services/providersHost.ts
  packages/player/src/services/providersService.test.ts
  packages/player/src/services/providersService.ts
  packages/player/src/services/queueHost.ts
  packages/player/src/services/settingsHost.ts
  packages/player/src/stores/pluginStore.tsx
  packages/player/src/stores/settingsStore.test.ts
  packages/player/src/stores/settingsStore.ts
  packages/player/src/test/settings.integration.test.tsx
  packages/player/src/views/Album/Album.test.tsx
  packages/player/src/views/Album/hooks/useAlbumDetails.ts
  packages/player/src/views/Artist/Artist.test.tsx
  packages/player/src/views/Artist/components/ArtistAlbumsGrid.tsx
  packages/player/src/views/Artist/hooks/useArtistAlbums.ts
  packages/player/src/views/Artist/hooks/useArtistDetails.ts
  packages/player/src/views/Artist/hooks/useArtistRelatedArtists.ts
  packages/player/src/views/Artist/hooks/useArtistTopTracks.ts
  packages/player/src/views/Search/Search.test.tsx
  packages/player/src/views/Search/Search.tsx
  packages/player/src/views/Settings/SettingsSection.tsx
Due: Player (App)

Queue API for plugins
  packages/player/src/services/plugins/PluginLoader.ts
  packages/plugin-sdk/src/api/index.ts
  packages/plugin-sdk/src/api/queue.ts
  packages/plugin-sdk/src/types/queue.ts
Due: Player (App), Plugin SDK

Queue hooks
  packages/player/src/hooks/useCurrentQueueItem.ts
  packages/player/src/hooks/useQueue.ts
  packages/player/src/hooks/useQueueActions.ts
  packages/player/src/views/Settings/useSettingsGroups.ts
  packages/ui/src/components/RouteTransition.tsx
Due: Player (App), UI Library

Queue item component
  packages/storybook/src/QueueItem.stories.tsx
  packages/ui/src/components/QueueItem/QueueItem.tsx
  packages/ui/src/components/QueueItem/QueueItemCollapsed.tsx
  packages/ui/src/components/QueueItem/QueueItemExpanded.tsx
  packages/ui/src/components/QueueItem/index.ts
  packages/ui/src/components/QueueItem/types.ts
  packages/ui/src/components/QueueItem/variants.ts
  packages/ui/src/components/index.ts
Due: UI Library

Reorderable queue panel
  packages/storybook/src/QueuePanel.stories.tsx
  packages/ui/src/components/QueueItem/QueueItemExpanded.tsx
  packages/ui/src/components/QueueItem/variants.ts
  packages/ui/src/components/QueuePanel/QueuePanel.tsx
  packages/ui/src/components/QueuePanel/QueueReorderLayer.tsx
  packages/ui/src/components/QueuePanel/ReorderableQueueItem.tsx
  packages/ui/src/components/QueuePanel/index.ts
  packages/ui/src/components/index.ts
Due: UI Library

Create connected queue panel
  packages/i18n/src/locales/en_US.json
  packages/player/src/components/ConnectedQueuePanel.tsx
  packages/ui/src/components/QueuePanel/QueuePanel.tsx
Due: Player (App), UI Library

Fix infinite loop
  packages/player/src/components/ConnectedQueuePanel.tsx
  packages/player/src/hooks/useQueue.ts
  packages/player/src/hooks/useQueueActions.ts
  packages/player/src/routes/__root.tsx
Due: Player (App)

Connected track table
  packages/player/src/components/ConnectedTrackTable.tsx
  packages/player/src/views/Album/components/AlbumTrackList.tsx
  packages/ui/src/components/TrackTable/Cells/TitleCell.tsx
  packages/ui/src/components/TrackTable/SortableRow.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/defaults.ts
  packages/ui/src/components/TrackTable/hooks/useColumns.tsx
  packages/ui/src/components/TrackTable/types.ts
Due: Player (App), UI Library

Use connected track table for popular tracks
  packages/player/src/views/Artist/components/ArtistPopularTracks.tsx
Due: Player (App)

Allow removing items
  packages/ui/src/components/QueueItem/QueueItemExpanded.tsx
Due: UI Library

Queue tests
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/test/Queue.test-wrapper.tsx
  packages/player/src/test/queue.test.tsx
  packages/player/src/views/Album/Album.test-wrapper.tsx
  packages/player/src/views/Album/Album.tsx
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/ui/src/components/QueueItem/QueueItemCollapsed.tsx
  packages/ui/src/components/QueueItem/QueueItemExpanded.tsx
  packages/ui/src/components/QueuePanel/QueuePanel.tsx
  packages/ui/src/components/ScrollableArea/ScrollableArea.tsx
  packages/ui/src/components/TrackTable/Cells/TitleCell.tsx
  packages/ui/src/components/TrackTable/SortableRow.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/__snapshots__/TrackTable.test.tsx.snap
  packages/ui/src/test/resizeObserverMock.ts
Due: Player (App), UI Library

Queue host tests
  packages/player/src/App.hydration.test.tsx
  packages/player/src/services/queueHost.test.ts
  packages/player/src/stores/pluginStore.test.ts
  packages/player/src/stores/queue/queue.store.test.ts
  packages/player/src/stores/settingsStore.test.ts
  packages/player/src/test/queue.test.tsx
  packages/player/src/test/settings.integration.test.tsx
  packages/player/src/test/setup.ts
  packages/player/src/test/utils/mockTrack.ts
  packages/player/src/views/Plugins/Plugins.test.tsx
  packages/player/src/views/Settings/Settings.test.tsx
  packages/player/src/views/Themes/Themes.test.tsx
Due: Player (App)

Move test files elsewhere
  packages/player/src/integration-tests/Queue.test-wrapper.tsx
  packages/player/src/integration-tests/Sound.test-wrapper.tsx
  packages/player/src/integration-tests/Sound.test.tsx
  packages/player/src/integration-tests/queue.test.tsx
  packages/player/src/integration-tests/settings.test.tsx
  packages/player/src/stores/queue/queue.store.test.ts
  packages/player/src/stores/settingsStore.test.ts
  packages/player/src/views/Settings/Settings.test.tsx
Due: Player (App)

Fix various test spam
  packages/player/src/services/search/executeArtistMetadataSearch.test.tsx
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
  packages/ui/src/components/Popover/Popover.tsx
  packages/ui/src/components/Popover/__snapshots__/Popover.test.tsx.snap
  packages/ui/src/components/Slider/Slider.test.tsx
  packages/ui/src/components/TrackTable/SortableRow.tsx
Due: Player (App), UI Library

Queue item and panel snapshot tests
  packages/ui/src/components/QueueItem/QueueItem.test.tsx
  packages/ui/src/components/QueueItem/__snapshots__/QueueItem.test.tsx.snap
  packages/ui/src/components/QueuePanel/QueuePanel.test.tsx
  packages/ui/src/components/QueuePanel/__snapshots__/QueuePanel.test.tsx.snap
Due: UI Library

Docs for queue API
  packages/docs/SUMMARY.md
  packages/docs/plugins/queue.md
Due: none

New translations en_us.json (French)
  packages/i18n/src/locales/fr_FR.json
Due: none

New translations en_us.json (Spanish)
  packages/i18n/src/locales/es_ES.json
Due: none

New translations en_us.json (German)
  packages/i18n/src/locales/de_DE.json
Due: none

New translations en_us.json (Italian)
  packages/i18n/src/locales/it_IT.json
Due: none

New translations en_us.json (Russian)
  packages/i18n/src/locales/ru_RU.json
Due: none

New translations en_us.json (Portuguese, Brazilian)
  packages/i18n/src/locales/pt_BR.json
Due: none

Update docs
  .github/copilot-instructions.md
  packages/docs/SUMMARY.md
  packages/docs/plugins/providers.md
  packages/docs/themes/themes-advanced.md
  packages/player/src/integration-tests/settings.test.tsx
  packages/player/src/services/settingsHost.ts
  packages/player/src/stores/settingsStore.test.ts
  packages/plugin-sdk/src/api/settings.test.ts
  packages/plugin-sdk/src/api/settings.ts
  packages/plugin-sdk/src/test/utils/inMemorySettingsHost.ts
  packages/plugin-sdk/src/types/settings.ts
Due: Player (App), Plugin SDK

New streaming types
  packages/model/src/index.ts
  packages/model/src/queue.ts
  packages/model/src/streaming.ts
Due: Data Model

Remove activeStreamIndex and failedStreamIndices in tests
  packages/player/src/services/queueHost.test.ts
  packages/player/src/stores/queue/__snapshots__/queue.store.test.ts.snap
  packages/player/src/stores/queue/queue.store.test.ts
  packages/player/src/stores/queue/queue.store.ts
  packages/plugin-sdk/src/types/queue.ts
  packages/storybook/src/QueuePanel.stories.tsx
  packages/ui/src/components/QueuePanel/QueuePanel.test.tsx
Due: Player (App), UI Library, Plugin SDK

Stream resolution core settings
  packages/i18n/src/locales/en_US.json
  packages/player/src/services/coreSettings.ts
Due: Player (App)

Streaming host boilerplate
  packages/i18n/src/locales/en_US.json
  packages/player/src/services/streamingHost.ts
  packages/plugin-sdk/src/api/index.ts
  packages/plugin-sdk/src/api/streaming.ts
  packages/plugin-sdk/src/index.ts
  packages/plugin-sdk/src/types/streaming.ts
Due: Player (App), Plugin SDK

Implement streaming host
  packages/player/src/services/streamingHost.ts
  packages/plugin-sdk/src/types/providers.ts
  packages/plugin-sdk/src/types/streaming.ts
Due: Player (App), Plugin SDK

Metadata host
  packages/player/src/services/metadataHost.ts
  packages/plugin-sdk/src/api/index.ts
  packages/plugin-sdk/src/api/metadata.ts
  packages/plugin-sdk/src/index.ts
  packages/plugin-sdk/src/types/metadata.ts
  packages/plugin-sdk/src/types/search.ts
Due: Player (App), Plugin SDK

Metadata host refactor
  packages/player/src/services/metadataHost.test.ts
  packages/player/src/services/metadataHost.ts
  packages/player/src/services/search/executeAlbumMetadataSearch.ts
  packages/player/src/services/search/executeArtistMetadataSearch.test.tsx
  packages/player/src/services/search/executeArtistMetadataSearch.ts
  packages/player/src/services/search/executeMetadataSearch.test.ts
  packages/player/src/services/search/executeMetadataSearch.ts
  packages/player/src/views/Album/hooks/useAlbumDetails.ts
  packages/player/src/views/Artist/hooks/useArtistAlbums.ts
  packages/player/src/views/Artist/hooks/useArtistDetails.ts
  packages/player/src/views/Artist/hooks/useArtistRelatedArtists.ts
  packages/player/src/views/Artist/hooks/useArtistTopTracks.ts
  packages/player/src/views/Search/Search.tsx
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/plugin-sdk/src/api/metadata.ts
  packages/plugin-sdk/src/api/providers.ts
  packages/plugin-sdk/src/types/metadata.ts
Due: Player (App), Plugin SDK

Fix exports
  packages/plugin-sdk/src/index.ts
Due: Plugin SDK

Streaming host implementation
  packages/player/src/services/streamingHost.test.ts
  packages/player/src/services/streamingHost.ts
  packages/plugin-sdk/src/api/streaming.ts
  packages/plugin-sdk/src/types/streaming.ts
Due: Player (App), Plugin SDK

Streaming API doc
  packages/docs/SUMMARY.md
  packages/docs/plugins/queue.md
  packages/docs/plugins/streaming.md
Due: none

Stream resolution hook
  packages/hifi/src/Sound.tsx
  packages/player/src/components/SoundProvider.tsx
  packages/player/src/hooks/useStreamResolution.ts
  packages/player/src/integration-tests/Queue.test-wrapper.tsx
  packages/player/src/integration-tests/StreamResolution.test-wrapper.tsx
  packages/player/src/integration-tests/queue.test.tsx
  packages/player/src/integration-tests/stream-resolution.test.tsx
  packages/player/src/test/builders/StreamingProviderBuilder.ts
  packages/player/src/test/fixtures/albums.ts
Due: Player (App), Hifi

Add streaming translations and error messages to i18n
  packages/i18n/src/i18n.ts
  packages/i18n/src/locales/en_US.json
  packages/player/src/hooks/useStreamResolution.ts
Due: Player (App)

Minor refactors
  packages/player/src/hooks/useStreamResolution.ts
  packages/player/src/integration-tests/stream-resolution.test.tsx
  packages/player/src/services/streamingHost.ts
  packages/plugin-sdk/src/types/streaming.ts
Due: Player (App), Plugin SDK

Fix sound type
  packages/hifi/src/Sound.tsx
Due: Hifi

Linter
  packages/i18n/src/locales/en_US.json
Due: none

Fix build
  packages/player/src/components/SoundProvider.tsx
  packages/player/src/services/streamingHost.test.ts
Due: Player (App)
