Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: 80..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: false

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"
  require_changes: true
  behavior: default

github_checks:
  annotations: true

flag_management:
  default_rules:
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
        threshold: 1%
        informational: true
      - type: patch
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: true
  individual_components:
    - component_id: player_app
      name: Player (App)
      paths:
        - "packages/player/src/**"
    - component_id: player_tauri
      name: Player (Tauri Rust)
      paths:
        - "packages/player/src-tauri/**"
    - component_id: ui
      name: UI Library
      paths:
        - "packages/ui/src/**"
    - component_id: hifi
      name: Hifi
      paths:
        - "packages/hifi/src/**"
    - component_id: model
      name: Data Model
      paths:
        - "packages/model/src/**"
    - component_id: plugin_sdk
      name: Plugin SDK
      paths:
        - "packages/plugin-sdk/src/**"
    - component_id: themes
      name: Themes
      paths:
        - "packages/themes/src/**"

ignore:
  - "packages/docs/**"
  - "packages/storybook/**"
  - "**/__snapshots__/**"
  - "**/*.snap"
  - "packages/**/dist/**"
  - "**/*.d.ts"

New translations en_us.json (Spanish)
  packages/i18n/src/locales/es_ES.json
Due: none

New translations en_us.json (German)
  packages/i18n/src/locales/de_DE.json
Due: none

New translations en_us.json (Italian)
  packages/i18n/src/locales/it_IT.json
Due: none

New translations en_us.json (Russian)
  packages/i18n/src/locales/ru_RU.json
Due: none

New translations en_us.json (Portuguese, Brazilian)
  packages/i18n/src/locales/pt_BR.json
Due: none

Support for yt-dlp, new http and streaming code to defeat CORS
  packages/hifi/src/Sound.tsx
  packages/player/src-tauri/Cargo.lock
  packages/player/src-tauri/Cargo.toml
  packages/player/src-tauri/capabilities/default.json
  packages/player/src-tauri/src/http.rs
  packages/player/src-tauri/src/lib.rs
  packages/player/src-tauri/src/stream_proxy.rs
  packages/player/src-tauri/src/ytdlp.rs
  packages/player/src/components/SoundProvider.tsx
  packages/player/src/hooks/useStreamResolution.ts
  packages/player/src/services/httpHost.ts
  packages/player/src/services/plugins/PluginLoader.ts
  packages/player/src/services/streamingHost.ts
  packages/player/src/services/ytdlpHost.ts
  packages/player/src/stores/pluginStore.tsx
  packages/player/src/stores/soundStore.ts
  packages/plugin-sdk/src/api/http.ts
  packages/plugin-sdk/src/api/index.ts
  packages/plugin-sdk/src/api/ytdlp.ts
  packages/plugin-sdk/src/index.ts
  packages/plugin-sdk/src/types/http.ts
  packages/plugin-sdk/src/types/ytdlp.ts
Due: Player (App), Player (Tauri Rust), Hifi, Plugin SDK

Connected player bar
  packages/i18n/src/locales/en_US.json
  packages/player/src/components/ConnectedPlayerBar.tsx
  packages/player/src/routes/__root.tsx
  packages/ui/src/components/PlayerBar/PlayerBarControls.tsx
  packages/ui/src/components/PlayerBar/PlayerBarSeekBar.tsx
  packages/ui/src/components/TrackTable/SortableRow.tsx
Due: Player (App), UI Library

Update snapshots
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/ui/src/components/PlayerBar/__snapshots__/PlayerBarSeekBar.test.tsx.snap
Due: none

Update URLs to conform to the new base64-encoded format
  packages/player/src/integration-tests/stream-resolution.test.tsx
Due: Player (App)

Fix play status
  packages/player/src/components/ConnectedPlayerBar.tsx
Due: Player (App)

Handle both audio elements when pausing
  packages/hifi/src/hooks/usePlaybackControl.ts
  packages/hifi/src/hooks/useSeekControl.ts
Due: Hifi

Fix connected player bar reactivity
  packages/hifi/src/Sound.tsx
  packages/player/src/components/ConnectedPlayerBar.tsx
Due: Player (App), Hifi

Stop playback if current item is removed
  packages/hifi/src/hooks/usePlaybackControl.ts
  packages/hifi/src/hooks/useSeekControl.ts
  packages/player/src/stores/queue/queue.store.ts
Due: Player (App), Hifi

Split HTML5 audio adapter into crossfade and non-crossfade versions
  packages/hifi/src/CrossfadeSound.tsx
  packages/hifi/src/Sound.tsx
  packages/hifi/src/hooks/usePlaybackStatus.ts
  packages/hifi/src/index.ts
  packages/hifi/src/types.ts
Due: Hifi

Split useAudioSeek
  packages/hifi/src/Sound.tsx
  packages/hifi/src/hooks/useAudioSeek.ts
Due: Hifi

Split audioloader
  packages/hifi/src/Sound.tsx
  packages/hifi/src/hooks/useAudioLoader.ts
Due: Hifi

Extract audio events
  packages/hifi/src/Sound.tsx
  packages/hifi/src/hooks/useAudioEvents.ts
  packages/player/src/components/SoundProvider.tsx
Due: Player (App), Hifi

Split more parts of the sound component
  packages/hifi/src/CrossfadeSound.tsx
  packages/hifi/src/Sound.tsx
  packages/hifi/src/hooks/useAudioContext.ts
  packages/hifi/src/hooks/useAudioElementSource.ts
  packages/hifi/src/index.ts
  packages/hifi/src/types.ts
  packages/hifi/src/useAudioGraph.ts
  packages/player/src/hooks/useStreamResolution.ts
  packages/player/src/stores/soundStore.ts
Due: Player (App), Hifi

Rename queue store
  packages/player/src/components/ConnectedPlayerBar.tsx
  packages/player/src/components/SoundProvider.tsx
  packages/player/src/hooks/useCurrentQueueItem.ts
  packages/player/src/hooks/useQueue.ts
  packages/player/src/hooks/useQueueActions.ts
  packages/player/src/hooks/useStreamResolution.ts
  packages/player/src/integration-tests/StreamResolution.test-wrapper.tsx
  packages/player/src/integration-tests/queue.test.tsx
  packages/player/src/integration-tests/stream-resolution.test.tsx
  packages/player/src/main.tsx
  packages/player/src/services/queueHost.test.ts
  packages/player/src/services/queueHost.ts
  packages/player/src/stores/__snapshots__/queue.store.test.ts.snap
  packages/player/src/stores/__snapshots__/queueStore.test.ts.snap
  packages/player/src/stores/queueStore.test.ts
  packages/player/src/stores/queueStore.ts
Due: Player (App)

Zustand devtools
  packages/player/src/components/DevTools.tsx
  packages/player/src/components/devtools/ZustandDevtoolsPanel.tsx
  packages/player/src/devtools/registerZustandStores.ts
  packages/player/src/devtools/zustandRegistry.ts
Due: Player (App)

Nice panel for zustand stores
  packages/player/package.json
  packages/player/src/components/devtools/ZustandDevtoolsPanel.tsx
  packages/player/src/devtools/registerZustandStores.ts
  packages/player/tsconfig.json
  packages/player/vite.env.d.ts
Due: Player (App)

Remove queue padding
  packages/ui/src/components/QueuePanel/QueuePanel.tsx
  packages/ui/src/components/ScrollableArea/ScrollableArea.tsx
Due: UI Library

Fix loading state for selected items
  packages/ui/src/styles.css
Due: UI Library

Improve queue item legibility
  packages/player/src-tauri/src/stream_proxy.rs
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/QueueItem/QueueItemExpanded.tsx
  packages/ui/src/components/QueueItem/variants.ts
Due: Player (Tauri Rust), UI Library

Update UA
  packages/player/src-tauri/src/stream_proxy.rs
Due: Player (Tauri Rust)

Update lock
  pnpm-lock.yaml
Due: none

Split sound tests
  packages/hifi/src/test/CrossfadeSound.test.tsx
  packages/hifi/src/test/Sound.test.tsx
  packages/hifi/src/test/test-utils.ts
Due: Hifi

Linter
  packages/i18n/src/locales/en_US.json
Due: none

Update tests and snapshots
  packages/player/package.json
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/integration-tests/Sound.test.tsx
  packages/player/src/integration-tests/stream-resolution.test.tsx
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/ui/src/components/Card/__snapshots__/Card.test.tsx.snap
  packages/ui/src/components/CardGrid/__snapshots__/CardGrid.test.tsx.snap
  packages/ui/src/components/PlayerBar/__snapshots__/PlayerBar.test.tsx.snap
  packages/ui/src/components/PlayerWorkspace/__snapshots__/PlayerWorkspace.test.tsx.snap
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
  packages/ui/src/components/Popover/__snapshots__/Popover.test.tsx.snap
  packages/ui/src/components/QueueItem/__snapshots__/QueueItem.test.tsx.snap
  packages/ui/src/components/QueuePanel/__snapshots__/QueuePanel.test.tsx.snap
  packages/ui/src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  packages/ui/src/components/__snapshots__/PlayerShell.test.tsx.snap
Due: Player (App)

Fix types
  packages/player/src/integration-tests/Sound.test-wrapper.tsx
Due: Player (App)

v0.0.10
  package.json
  packages/docs/package.json
  packages/eslint-config/package.json
  packages/hifi/package.json
  packages/i18n/package.json
  packages/model/package.json
  packages/player/package.json
  packages/player/src-tauri/Cargo.lock
  packages/player/src-tauri/Cargo.toml
  packages/player/src-tauri/tauri.conf.json
  packages/storybook/package.json
  packages/tailwind-config/package.json
  packages/themes/package.json
  packages/ui/package.json
  packages/youtube-streaming-plugin/package.json
  pnpm-lock.yaml
Due: Player (Tauri Rust)

New translations en_us.json (French)
  packages/i18n/src/locales/fr_FR.json
Due: none

Badge component
  packages/storybook/src/Badge.stories.tsx
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/Badge/index.ts
  packages/ui/src/components/index.ts
Due: UI Library

Badge tests
  packages/ui/src/components/Badge/Badge.test.tsx
  packages/ui/src/components/Badge/__snapshots__/Badge.test.tsx.snap
Due: UI Library
