Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

LogEntry component
  packages/storybook/src/LogEntry.stories.tsx
  packages/ui/src/components/LogEntry/LogEntry.test.tsx
  packages/ui/src/components/LogEntry/LogEntry.tsx
  packages/ui/src/components/LogEntry/__snapshots__/LogEntry.test.tsx.snap
Due: UI Library

Multiselect filter chips
  packages/storybook/src/FilterChips.stories.tsx
  packages/ui/src/components/FilterChips/FilterChips.test.tsx
  packages/ui/src/components/FilterChips/FilterChips.tsx
  packages/ui/src/components/FilterChips/__snapshots__/FilterChips.test.tsx.snap
  packages/ui/src/components/FilterChips/index.ts
  packages/ui/src/components/FilterChips/useFilterChips.ts
  packages/ui/src/components/LogEntry/index.ts
  packages/ui/src/components/index.ts
Due: UI Library

Minor ui component improvements
  packages/ui/src/components/FilterChips/FilterChips.test.tsx
  packages/ui/src/components/FilterChips/FilterChips.tsx
  packages/ui/src/components/FilterChips/__snapshots__/FilterChips.test.tsx.snap
  packages/ui/src/components/FilterChips/useFilterChips.ts
  packages/ui/src/components/LogEntry/__snapshots__/LogEntry.test.tsx.snap
  packages/ui/src/test/setup.ts
Due: UI Library

Log viewer draft; skill for creating new components
  .agents/skills/creating-components/SKILL.md
  packages/storybook/src/LogViewer.stories.tsx
  packages/ui/src/components/LogEntry/LogEntry.tsx
  packages/ui/src/components/LogViewer/LogLevelFilter.tsx
  packages/ui/src/components/LogViewer/LogScopeFilter.tsx
  packages/ui/src/components/LogViewer/LogSearchInput.tsx
  packages/ui/src/components/LogViewer/LogToolbar.tsx
  packages/ui/src/components/LogViewer/LogViewer.test.tsx
  packages/ui/src/components/LogViewer/LogViewer.tsx
  packages/ui/src/components/LogViewer/__snapshots__/LogViewer.test.tsx.snap
  packages/ui/src/components/LogViewer/index.ts
  packages/ui/src/components/index.ts
Due: UI Library

Move log viewer logic to context
  packages/ui/src/components/LogViewer/LogEntryCount.tsx
  packages/ui/src/components/LogViewer/LogLevelFilter.tsx
  packages/ui/src/components/LogViewer/LogScopeFilter.tsx
  packages/ui/src/components/LogViewer/LogSearchInput.tsx
  packages/ui/src/components/LogViewer/LogToolbar.tsx
  packages/ui/src/components/LogViewer/LogViewer.tsx
  packages/ui/src/components/LogViewer/LogViewerRoot.tsx
  packages/ui/src/components/LogViewer/LogViewerVirtualizedList.tsx
  packages/ui/src/components/LogViewer/context.ts
  packages/ui/src/components/LogViewer/index.ts
Due: UI Library

Replace hardcoded strings with labels supplied from i18n
  packages/ui/src/components/LogViewer/LogEntryCount.tsx
  packages/ui/src/components/LogViewer/LogLevelFilter.tsx
  packages/ui/src/components/LogViewer/LogScopeFilter.tsx
  packages/ui/src/components/LogViewer/LogSearchInput.tsx
  packages/ui/src/components/LogViewer/LogToolbar.tsx
  packages/ui/src/components/LogViewer/LogViewer.tsx
  packages/ui/src/components/LogViewer/LogViewerRoot.tsx
  packages/ui/src/components/LogViewer/LogViewerVirtualizedList.tsx
  packages/ui/src/components/LogViewer/context.ts
Due: UI Library

Update snapshots
  packages/player/src/views/Plugins/__snapshots__/PluginStore.test.tsx.snap
  packages/ui/src/components/LogEntry/__snapshots__/LogEntry.test.tsx.snap
  packages/ui/src/components/LogViewer/__snapshots__/LogViewer.test.tsx.snap
Due: none

Get elements by test id instead of brittle container queries
  packages/ui/src/components/LogEntry/LogEntry.test.tsx
  packages/ui/src/components/LogEntry/LogEntry.tsx
  packages/ui/src/components/LogEntry/__snapshots__/LogEntry.test.tsx.snap
  packages/ui/src/components/LogViewer/__snapshots__/LogViewer.test.tsx.snap
Due: UI Library

Logs view test stub
  packages/player/src/views/Logs/Logs.test-wrapper.tsx
  packages/player/src/views/Logs/Logs.test.tsx
Due: Player (App)

Add logs to sidebar; add export tests
  packages/i18n/src/locales/en_US.json
  packages/player/src/routeTree.gen.ts
  packages/player/src/routes/__root.tsx
  packages/player/src/routes/logs.tsx
  packages/player/src/views/Logs/Logs.test-wrapper.tsx
  packages/player/src/views/Logs/Logs.test.tsx
  packages/player/src/views/Logs/Logs.tsx
  packages/player/src/views/Logs/index.ts
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
Due: Player (App)

Open log folder tests and implementation
  packages/player/src/hooks/useLogExport.ts
  packages/player/src/views/Logs/Logs.test-wrapper.tsx
  packages/player/src/views/Logs/Logs.test.tsx
  packages/player/src/views/Logs/Logs.tsx
Due: Player (App)

Open log dir functionality
  packages/player/package.json
  packages/player/src-tauri/Cargo.lock
  packages/player/src-tauri/Cargo.toml
  packages/player/src-tauri/capabilities/default.json
  packages/player/src-tauri/src/http.rs
  packages/player/src-tauri/src/lib.rs
  packages/player/src/hooks/useLogExport.ts
  pnpm-lock.yaml
Due: Player (App), Player (Tauri Rust)

Move RingBuffer to be a module-level singleton to fix a log subscription issue
  packages/player/src/hooks/useLogStream.test.ts
  packages/player/src/hooks/useLogStream.ts
Due: Player (App)

Support various log targets
  packages/player/src/hooks/useLogExport.ts
  packages/player/src/hooks/useLogStream.test.ts
  packages/player/src/hooks/useLogStream.ts
  packages/player/src/views/Logs/Logs.tsx
  packages/ui/src/components/LogEntry/LogEntry.test.tsx
  packages/ui/src/components/LogEntry/LogEntry.tsx
  packages/ui/src/components/LogViewer/LogViewer.test.tsx
Due: Player (App), UI Library

Logging dev logs
  packages/docs/SUMMARY.md
  packages/docs/development/logging.md
Due: none

Update AGENTS.md with testing guidance
  AGENTS.md
Due: none

v1.2.0
  packages/player/package.json
  packages/player/src-tauri/tauri.conf.json
  packages/plugin-sdk/package.json
Due: Player (Tauri Rust)

Docs for favorites
  packages/docs/SUMMARY.md
  packages/docs/plugins/favorites.md
Due: none

Metadata docs
  packages/docs/SUMMARY.md
  packages/docs/plugins/metadata.md
Due: none

New translations en_us.json (French)
  packages/i18n/src/locales/fr_FR.json
Due: none

New translations en_us.json (Spanish)
  packages/i18n/src/locales/es_ES.json
Due: none

New translations en_us.json (German)
  packages/i18n/src/locales/de_DE.json
Due: none

New translations en_us.json (Italian)
  packages/i18n/src/locales/it_IT.json
Due: none

New translations en_us.json (Russian)
  packages/i18n/src/locales/ru_RU.json
Due: none

New translations en_us.json (Portuguese, Brazilian)
  packages/i18n/src/locales/pt_BR.json
Due: none

Data mode for playlists
  packages/model/src/index.ts
Due: Data Model

Playlists: index and per-playlist stores
  packages/player/src/services/playlistFileService.test.ts
  packages/player/src/services/playlistFileService.ts
  packages/player/src/test/builders/PlaylistBuilder.ts
  packages/player/src/test/setup.ts
  packages/player/src/test/utils/mockUuid.ts
Due: Player (App)

Correct method to clear playlist store
  packages/player/src/services/playlistFileService.ts
  packages/player/src/test/utils/inMemoryTauriStore.ts
Due: Player (App)

Playlists zustand store
  packages/player/src/stores/playlistStore.test.ts
  packages/player/src/stores/playlistStore.ts
Due: Player (App)

Create playlist method
  packages/player/src/services/playlistFileService.ts
  packages/player/src/stores/playlistStore.test.ts
  packages/player/src/stores/playlistStore.ts
Due: Player (App)

Delete playlist method
  packages/player/src/services/playlistFileService.ts
  packages/player/src/stores/playlistStore.test.ts
  packages/player/src/stores/playlistStore.ts
Due: Player (App)

Add tracks method
  packages/player/src/stores/playlistStore.test.ts
  packages/player/src/stores/playlistStore.ts
Due: Player (App)

Remove tracks by ids method
  packages/player/src/stores/playlistStore.test.ts
  packages/player/src/stores/playlistStore.ts
Due: Player (App)

Reorder tracks method
  packages/player/src/stores/playlistStore.test.ts
  packages/player/src/stores/playlistStore.ts
Due: Player (App)

Save playlist as queue method
  packages/player/src/stores/__snapshots__/playlistStore.test.ts.snap
  packages/player/src/stores/playlistStore.test.ts
  packages/player/src/stores/playlistStore.ts
Due: Player (App)

Load playlist method
  packages/player/src/main.tsx
  packages/player/src/stores/playlistStore.test.ts
  packages/player/src/stores/playlistStore.ts
Due: Player (App)

Narrow down the PlaylistIndexEntry type
  packages/model/src/index.ts
  packages/player/src/services/playlistFileService.test.ts
  packages/player/src/services/playlistFileService.ts
  packages/player/src/stores/playlistStore.test.ts
Due: Player (App), Data Model

Refactor playlist file service; evict entries from cache with LRU strategy
  packages/player/src/services/playlistFileService.test.ts
  packages/player/src/services/playlistFileService.ts
  packages/player/src/services/playlistFileService/PlaylistFileStore.ts
  packages/player/src/services/playlistFileService/PlaylistIndexStore.ts
  packages/player/src/services/playlistFileService/index.ts
  packages/player/src/services/playlistFileService/playlistFileService.test.ts
  packages/player/src/stores/playlistStore.test.ts
  packages/player/src/stores/playlistStore.ts
  packages/player/src/test/builders/PlaylistBuilder.ts
Due: Player (App)

Playlist validation on load
  packages/model/package.json
  packages/model/src/index.ts
  packages/model/src/playlists.ts
  packages/model/src/schemas/index.ts
  packages/model/src/schemas/playlists.ts
  packages/player/src/services/logger.ts
  packages/player/src/services/playlistFileService/PlaylistFileStore.ts
  packages/player/src/services/playlistFileService/PlaylistIndexStore.ts
  packages/player/src/services/playlistFileService/playlistFileService.test.ts
  packages/player/src/services/validatedStore.ts
  pnpm-lock.yaml
Due: Player (App), Data Model

Delete playlist file after deleting it
  packages/player/src/services/playlistFileService/PlaylistFileStore.ts
Due: Player (App)

Path conditions:
  Player (App): any of: packages/player/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Player (Tauri Rust): any of: packages/player/src-tauri/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  UI Library: any of: packages/ui/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Hifi: any of: packages/hifi/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Data Model: any of: packages/model/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Plugin SDK: any of: packages/plugin-sdk/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Themes: any of: packages/themes/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
