Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

Invalidate cache whenever playlists change
  packages/player/src/services/playlistFileService/index.ts
  packages/player/src/stores/playlistStore.test.ts
  packages/player/src/stores/playlistStore.ts
Due: Player (App)

Dialog TDD tests
  packages/ui/src/components/Dialog/Dialog.test.tsx
Due: UI Library

Dialog wrapper
  packages/ui/src/components/Dialog/Dialog.test.tsx
  packages/ui/src/test/DialogWrapper.ts
Due: UI Library

Dialog components
  packages/ui/src/components/Dialog/Dialog.tsx
  packages/ui/src/components/Dialog/DialogActions.tsx
  packages/ui/src/components/Dialog/DialogClose.tsx
  packages/ui/src/components/Dialog/DialogDescription.tsx
  packages/ui/src/components/Dialog/DialogRoot.tsx
  packages/ui/src/components/Dialog/DialogTitle.tsx
  packages/ui/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/ui/src/components/Dialog/context.ts
  packages/ui/src/components/Dialog/index.ts
  packages/ui/src/components/index.ts
Due: UI Library

Dialog stories
  packages/storybook/src/Dialog.stories.tsx
  packages/ui/src/components/Dialog/Dialog.test.tsx
  packages/ui/src/components/Dialog/Dialog.tsx
  packages/ui/src/components/Dialog/DialogRoot.tsx
Due: UI Library

i18n strings
  packages/i18n/src/locales/en_US.json
  packages/ui/src/components/Dialog/DialogClose.tsx
  packages/ui/src/components/Dialog/DialogRoot.tsx
  packages/ui/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
Due: UI Library

Dialog code review improvements
  packages/storybook/src/Dialog.stories.tsx
  packages/ui/src/components/Dialog/Dialog.test.tsx
  packages/ui/src/components/Dialog/Dialog.tsx
  packages/ui/src/components/Dialog/DialogDescription.tsx
  packages/ui/src/components/Dialog/DialogRoot.tsx
  packages/ui/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/ui/src/components/Dialog/index.ts
  packages/ui/src/test/DialogWrapper.ts
Due: UI Library

Playlists route
  packages/player/src-tauri/capabilities/default.json
  packages/player/src/routes/__root.tsx
Due: Player (App), Player (Tauri Rust)

Initial setup for playlists view - empty state
  packages/player/src/routeTree.gen.ts
  packages/player/src/routes/playlists/index.tsx
  packages/player/src/views/Playlists/Playlists.test-wrapper.tsx
  packages/player/src/views/Playlists/Playlists.test.tsx
  packages/player/src/views/Playlists/Playlists.tsx
  packages/player/src/views/Playlists/index.ts
Due: Player (App)

Add test wrapper principles to AGENTS.md
  AGENTS.md
Due: none

Playlist cards
  packages/player/src/views/Playlists/Playlists.test.tsx
  packages/player/src/views/Playlists/Playlists.tsx
  packages/player/src/views/Playlists/__snapshots__/Playlists.test.tsx.snap
Due: Player (App)

Add writing-plugins skill, removing it from AGENTS.md
  .agents/skills/writing-plugins/SKILL.md
  AGENTS.md
Due: none

Playlists view - Create playlist dialog
  packages/player/src/test/builders/PlaylistBuilder.ts
  packages/player/src/views/Playlists/Playlists.test-wrapper.tsx
  packages/player/src/views/Playlists/Playlists.test.tsx
  packages/player/src/views/Playlists/Playlists.tsx
  packages/player/src/views/Playlists/PlaylistsContext.tsx
  packages/player/src/views/Playlists/components/CreatePlaylistDialog.tsx
  packages/player/src/views/Playlists/components/PlaylistCardGrid.tsx
  packages/ui/src/index.ts
Due: Player (App), UI Library

Create new playlist - test
  packages/i18n/src/locales/en_US.json
  packages/player/src/views/Playlists/Playlists.test-wrapper.tsx
  packages/player/src/views/Playlists/Playlists.test.tsx
Due: Player (App)

Playlist detail view
  packages/player/src/routeTree.gen.ts
  packages/player/src/routes/playlists/$playlistId.tsx
  packages/player/src/views/Playlists/PlaylistDetail.test-wrapper.tsx
  packages/player/src/views/Playlists/PlaylistDetail.test.tsx
  packages/player/src/views/Playlists/PlaylistDetail.tsx
  packages/player/src/views/Playlists/index.ts
Due: Player (App)

Extract playlist detail out of the main playlists folder
  packages/player/src/routes/playlists/$playlistId.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test-wrapper.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.tsx
  packages/player/src/views/PlaylistDetail/index.ts
  packages/player/src/views/Playlists/index.ts
Due: Player (App)

Mark logging start correctly
  packages/player/src-tauri/src/lib.rs
  packages/player/src-tauri/src/setup.rs
  packages/player/src/hooks/useLogStream.ts
  packages/player/src/main.tsx
Due: Player (App), Player (Tauri Rust)

Go to playlist details on card click
  packages/player/src/views/Playlists/Playlists.test-wrapper.tsx
  packages/player/src/views/Playlists/Playlists.test.tsx
  packages/player/src/views/Playlists/Playlists.tsx
  packages/player/src/views/Playlists/components/PlaylistCardGrid.tsx
Due: Player (App)

Test setup
  packages/player/src/views/Playlists/Playlists.test-wrapper.tsx
  packages/player/src/views/Playlists/Playlists.test.tsx
Due: Player (App)

Playlist detail - track count
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test-wrapper.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.tsx
Due: Player (App)

Allow playlists to be scrolled
  packages/player/src/views/Playlists/Playlists.tsx
Due: Player (App)

Add track table to playlist detail view
  packages/player/src/test/builders/PlaylistBuilder.ts
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test-wrapper.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.tsx
  packages/player/src/views/PlaylistDetail/__snapshots__/PlaylistDetail.test.tsx.snap
Due: Player (App)

Read only badge for external playlists
  packages/player/src/test/builders/PlaylistBuilder.ts
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test-wrapper.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.tsx
  packages/player/src/views/PlaylistDetail/__snapshots__/PlaylistDetail.test.tsx.snap
Due: Player (App)

Split playlist detail into subcomponents
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test-wrapper.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.tsx
  packages/player/src/views/PlaylistDetail/__snapshots__/PlaylistDetail.test.tsx.snap
  packages/player/src/views/PlaylistDetail/components/PlaylistDetailActions.tsx
  packages/player/src/views/PlaylistDetail/components/PlaylistDetailHeader.tsx
  packages/player/src/views/PlaylistDetail/usePlaylistDetail.ts
Due: Player (App)

Playlist detail actions
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test-wrapper.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.tsx
  packages/player/src/views/PlaylistDetail/__snapshots__/PlaylistDetail.test.tsx.snap
  packages/player/src/views/PlaylistDetail/components/PlaylistDetailActions.tsx
Due: Player (App)

Playlist actions tests
  packages/player/src/integration-tests/PlayerBar.test-wrapper.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test.tsx
  packages/ui/src/components/PlayerBar/PlayerBarControls.tsx
  packages/ui/src/components/PlayerBar/__snapshots__/PlayerBar.test.tsx.snap
Due: Player (App), UI Library

Update tests
  packages/i18n/src/locales/en_US.json
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/hooks/useLogStream.test.ts
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
Due: Player (App)

Empty state
  packages/i18n/src/locales/en_US.json
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test-wrapper.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.tsx
  packages/player/src/views/PlaylistDetail/__snapshots__/PlaylistDetail.test.tsx.snap
  packages/player/src/views/PlaylistDetail/components/PlaylistDetailActions.tsx
  packages/ui/src/components/Popover/Popover.tsx
Due: Player (App), UI Library

Major reorder refactor
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/components/ConnectedTrackTable.tsx
  packages/player/src/services/validatedStore.ts
  packages/player/src/views/Favorites/__snapshots__/FavoriteAlbums.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteArtists.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteTracks.test.tsx.snap
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test-wrapper.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.tsx
  packages/player/src/views/PlaylistDetail/__snapshots__/PlaylistDetail.test.tsx.snap
  packages/player/src/views/PlaylistDetail/usePlaylistDetail.ts
  packages/player/src/views/PlaylistDetail/usePlaylistEditing.ts
  packages/player/src/views/Plugins/__snapshots__/PluginStore.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/storybook/src/TrackTable.stories.tsx
  packages/ui/src/components/TrackTable/Cells/RemoveCell.tsx
  packages/ui/src/components/TrackTable/SortableRow.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/hooks/useReorder.ts
  packages/ui/src/components/TrackTable/types.ts
  packages/ui/src/components/ViewShell/ViewShell.tsx
Due: Player (App), UI Library

TrackContextMenu submenu tdd tests and wrapper
  packages/ui/src/components/TrackContextMenu/TrackContextMenu.test-wrapper.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenu.test.tsx
Due: UI Library

Rewrite track context menu in radix primitives
  packages/storybook/src/TrackContextMenu.stories.tsx
  packages/ui/package.json
  packages/ui/src/components/TrackContextMenu/TrackContextMenu.test-wrapper.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenu.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuAction.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuContent.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuRoot.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuSubmenu.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuTrigger.tsx
  packages/ui/src/components/TrackContextMenu/__snapshots__/TrackContextMenu.test.tsx.snap
  packages/ui/src/test/setup.ts
  pnpm-lock.yaml
Due: UI Library

TrackContextMenu - simplification refactor
  packages/storybook/src/TrackContextMenu.stories.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenu.test-wrapper.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenu.test.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenu.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuSubmenu.tsx
  packages/ui/src/components/TrackContextMenu/__snapshots__/TrackContextMenu.test.tsx.snap
Due: UI Library

Track context menu and actions refactor
  packages/player/src/components/ConnectedTrackContextMenu.tsx
  packages/player/src/components/ConnectedTrackTable.tsx
  packages/player/src/hooks/useTrackActions.ts
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteTracks.test.tsx.snap
  packages/player/src/views/PlaylistDetail/__snapshots__/PlaylistDetail.test.tsx.snap
  packages/storybook/src/TrackContextMenu.stories.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenu.test-wrapper.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenu.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuAction.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuRoot.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuSubmenu.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuTrigger.tsx
  packages/ui/src/components/TrackContextMenu/__snapshots__/TrackContextMenu.test.tsx.snap
  packages/ui/src/components/TrackTable/Cells/TitleCell.tsx
Due: Player (App), UI Library

Connected track context menu tdd tests
  packages/player/src/components/ConnectedTrackContextMenu.test-wrapper.tsx
  packages/player/src/components/ConnectedTrackContextMenu.test.tsx
  packages/player/src/test/setup.ts
Due: Player (App)

Submenu for playlists
  AGENTS.md
  packages/player/src/components/ConnectedTrackContextMenu.tsx
  packages/player/src/hooks/usePlaylistSubmenu.ts
  packages/ui/src/components/TrackContextMenu/TrackContextMenuAction.tsx
Due: Player (App), UI Library

Playlist context menu filter
  packages/player/src/components/ConnectedTrackContextMenu.tsx
  packages/ui/src/components/Input/Input.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuAction.tsx
Due: Player (App), UI Library

Load playlist from disk if not cached
  packages/player/src/stores/playlistStore.test.ts
  packages/player/src/stores/playlistStore.ts
Due: Player (App)

Fix wrapper
  packages/player/src/components/ConnectedTrackContextMenu.test-wrapper.tsx
Due: Player (App)

Fix buttons in draggable rows
  packages/player/src/stores/playlistStore.test.ts
  packages/player/src/stores/playlistStore.ts
  packages/ui/src/components/TrackContextMenu/TrackContextMenuAction.tsx
  packages/ui/src/components/TrackContextMenu/__snapshots__/TrackContextMenu.test.tsx.snap
  packages/ui/src/components/TrackTable/Cells/RemoveCell.tsx
  packages/ui/src/components/TrackTable/ReorderLayer.tsx
Due: Player (App), UI Library

Disable live reload with file watcher
  packages/player/src/services/playlistFileService/index.ts
  packages/player/src/stores/playlistStore.test.ts
  packages/player/src/stores/playlistStore.ts
Due: Player (App)

Path conditions:
  Player (App): any of: packages/player/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Player (Tauri Rust): any of: packages/player/src-tauri/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  UI Library: any of: packages/ui/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Hifi: any of: packages/hifi/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Data Model: any of: packages/model/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Plugin SDK: any of: packages/plugin-sdk/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Themes: any of: packages/themes/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
