Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: 80..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: false

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"
  require_changes: true
  behavior: default

github_checks:
  annotations: true

flag_management:
  default_rules:
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
        threshold: 1%
        informational: true
      - type: patch
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: true
  individual_components:
    - component_id: player_app
      name: Player (App)
      paths:
        - "packages/player/src/**"
    - component_id: player_tauri
      name: Player (Tauri Rust)
      paths:
        - "packages/player/src-tauri/**"
    - component_id: ui
      name: UI Library
      paths:
        - "packages/ui/src/**"
    - component_id: hifi
      name: Hifi
      paths:
        - "packages/hifi/src/**"
    - component_id: model
      name: Data Model
      paths:
        - "packages/model/src/**"
    - component_id: plugin_sdk
      name: Plugin SDK
      paths:
        - "packages/plugin-sdk/src/**"
    - component_id: themes
      name: Themes
      paths:
        - "packages/themes/src/**"

ignore:
  - "packages/docs/**"
  - "packages/storybook/**"
  - "**/__snapshots__/**"
  - "**/*.snap"
  - "packages/**/dist/**"
  - "**/*.d.ts"

Updater store
  packages/player/src/stores/updaterStore.ts
Due: Player (App)

Updater store
  packages/player/src/stores/updaterStore.test.ts
  packages/player/src/stores/updaterStore.ts
  packages/youtube-streaming-plugin/package.json
Due: Player (App)

Fix type
  packages/player/src/stores/updaterStore.test.ts
Due: Player (App)

Update check widget
  packages/player/src/components/ConnectedTopBar.tsx
  packages/player/src/components/SearchBox.tsx
  packages/player/src/main.tsx
  packages/player/src/routes/__root.tsx
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/Input/Input.tsx
  packages/ui/src/components/TopBar.tsx
  packages/ui/src/components/TopBarLogo.tsx
  packages/ui/src/components/index.ts
Due: Player (App), UI Library

New error display
  packages/player/src/components/ConnectedQueuePanel.tsx
  packages/player/src/components/ConnectedTopBar.tsx
  packages/ui/src/components/QueueItem/QueueItemExpanded.tsx
  packages/ui/src/components/QueueItem/types.ts
  packages/ui/src/components/QueueItem/variants.ts
  packages/ui/src/components/QueuePanel/QueuePanel.tsx
  packages/ui/src/components/QueuePanel/ReorderableQueueItem.tsx
Due: Player (App), UI Library

Update locale
  packages/i18n/src/locales/en_US.json
Due: none

Update AI instructions
  .github/copilot-instructions.md
  AGENTS.md
Due: none

Add i18n info to AGENTS.md
  AGENTS.md
Due: none

Auto-update settings and installation process
  packages/i18n/src/locales/en_US.json
  packages/player/src/services/coreSettings.ts
  packages/player/src/stores/updaterStore.ts
Due: Player (App)

Update snapshots
  AGENTS.md
  packages/ui/src/components/Badge/__snapshots__/Badge.test.tsx.snap
  packages/ui/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/ui/src/components/QueueItem/QueueItem.test.tsx
  packages/ui/src/components/QueueItem/__snapshots__/QueueItem.test.tsx.snap
  packages/ui/src/components/QueuePanel/__snapshots__/QueuePanel.test.tsx.snap
  packages/ui/src/components/TrackTable/__snapshots__/TrackTable.test.tsx.snap
  packages/ui/src/components/__snapshots__/PlayerShell.test.tsx.snap
Due: UI Library

Suppress React noise
  packages/ui/src/components/Badge/Badge.test.tsx
Due: UI Library

Add mock labels to QueuePanel tests
  packages/ui/src/components/QueuePanel/QueuePanel.test.tsx
Due: UI Library

Minor updates after code review
  AGENTS.md
  packages/i18n/src/locales/en_US.json
  packages/player/src/components/ConnectedTopBar.tsx
  packages/player/src/components/SearchBox.tsx
  packages/player/src/stores/updaterStore.ts
  packages/ui/src/components/QueueItem/index.ts
  packages/ui/src/components/QueueItem/types.ts
  packages/ui/src/components/QueuePanel/QueuePanel.tsx
  packages/ui/src/components/QueuePanel/ReorderableQueueItem.tsx
  packages/ui/src/components/QueuePanel/__snapshots__/QueuePanel.test.tsx.snap
  packages/ui/src/components/TopBarLogo.tsx
Due: Player (App), UI Library

Update snapshots
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
Due: none

New translations en_us.json (French)
  packages/i18n/src/locales/fr_FR.json
Due: none

New translations en_us.json (Spanish)
  packages/i18n/src/locales/es_ES.json
Due: none

New translations en_us.json (German)
  packages/i18n/src/locales/de_DE.json
Due: none

New translations en_us.json (Italian)
  packages/i18n/src/locales/it_IT.json
Due: none

New translations en_us.json (Russian)
  packages/i18n/src/locales/ru_RU.json
Due: none

New translations en_us.json (Portuguese, Brazilian)
  packages/i18n/src/locales/pt_BR.json
Due: none

Fixed button semantics
  AGENTS.md
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Card/__snapshots__/Card.test.tsx.snap
  packages/ui/src/components/CardGrid/__snapshots__/CardGrid.test.tsx.snap
  packages/ui/src/components/PlayerBar/__snapshots__/PlayerBar.test.tsx.snap
  packages/ui/src/components/PlayerWorkspace/PlayerWorkspaceSidebar.tsx
  packages/ui/src/components/PlayerWorkspace/__snapshots__/PlayerWorkspace.test.tsx.snap
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
  packages/ui/src/components/Popover/Popover.tsx
  packages/ui/src/components/Popover/__snapshots__/Popover.test.tsx.snap
  packages/ui/src/components/QueueItem/__snapshots__/QueueItem.test.tsx.snap
  packages/ui/src/components/QueuePanel/__snapshots__/QueuePanel.test.tsx.snap
  packages/ui/src/components/SidebarNavigation/SidebarNavigationCollapsible.tsx
  packages/ui/src/components/Slider/context.ts
  packages/ui/src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  packages/ui/src/components/__snapshots__/PlayerShell.test.tsx.snap
Due: UI Library

UI components for plugin store
  packages/storybook/src/EmptyState.stories.tsx
  packages/storybook/src/FilterChips.stories.tsx
  packages/storybook/src/PluginStoreItem.stories.tsx
  packages/ui/src/components/EmptyState/EmptyState.test.tsx
  packages/ui/src/components/EmptyState/EmptyState.tsx
  packages/ui/src/components/EmptyState/__snapshots__/EmptyState.test.tsx.snap
  packages/ui/src/components/EmptyState/index.ts
  packages/ui/src/components/FilterChips/FilterChips.test.tsx
  packages/ui/src/components/FilterChips/FilterChips.tsx
  packages/ui/src/components/FilterChips/__snapshots__/FilterChips.test.tsx.snap
  packages/ui/src/components/FilterChips/index.ts
  packages/ui/src/components/PluginStoreItem/PluginStoreItem.test.tsx
  packages/ui/src/components/PluginStoreItem/PluginStoreItem.tsx
  packages/ui/src/components/PluginStoreItem/__snapshots__/PluginStoreItem.test.tsx.snap
  packages/ui/src/components/PluginStoreItem/index.ts
  packages/ui/src/components/index.ts
Due: UI Library

Plugin marketplace API and ApiClient base class
  AGENTS.md
  packages/player/src/apis/ApiClient.ts
  packages/player/src/apis/index.ts
  packages/player/src/apis/pluginMarketplaceApi.ts
Due: Player (App)

Add tauri upload plugin
  AGENTS.md
  packages/player/package.json
  packages/player/src-tauri/Cargo.lock
  packages/player/src-tauri/Cargo.toml
  packages/player/src-tauri/capabilities/default.json
  packages/player/src-tauri/src/lib.rs
  pnpm-lock.yaml
Due: Player (Tauri Rust)

Extract zip command
  packages/player/src-tauri/Cargo.lock
  packages/player/src-tauri/Cargo.toml
  packages/player/src-tauri/src/commands.rs
  packages/player/src-tauri/src/lib.rs
Due: Player (Tauri Rust)

Plugin downloader
  packages/player/src/services/plugins/pluginDownloader.ts
  packages/player/src/services/tauri/commands.ts
Due: Player (App)

Plugin installation hooks
  packages/player/src/hooks/useInstallPlugin.ts
  packages/player/src/hooks/useMarketplacePlugins.ts
Due: Player (App)

First iteration of the new plugin store view
  packages/i18n/src/locales/en_US.json
  packages/player/src/apis/pluginMarketplaceApi.ts
  packages/player/src/hooks/useInstallPlugin.ts
  packages/player/src/hooks/useMarketplacePlugins.ts
  packages/player/src/views/Plugins/InstalledPlugins.tsx
  packages/player/src/views/Plugins/PluginStore.tsx
  packages/player/src/views/Plugins/Plugins.test-wrapper.tsx
  packages/player/src/views/Plugins/Plugins.tsx
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
Due: Player (App)

Download file command
  packages/player/src-tauri/src/commands.rs
  packages/player/src-tauri/src/lib.rs
  packages/player/src/services/tauri/commands.ts
Due: Player (App), Player (Tauri Rust)

Store plugin installation flow
  packages/i18n/src/locales/en_US.json
  packages/player/src-tauri/Cargo.lock
  packages/player/src-tauri/Cargo.toml
  packages/player/src-tauri/capabilities/default.json
  packages/player/src/hooks/useInstallPlugin.ts
  packages/player/src/services/plugins/pluginCompiler.ts
  packages/player/src/services/plugins/pluginDir.ts
  packages/player/src/services/plugins/pluginDownloader.ts
Due: Player (App), Player (Tauri Rust)

Mock fetch
  packages/player/src/test/mocks/fetch.ts
Due: Player (App)

Plugin store tests
  packages/player/src/views/Plugins/PluginStore.test.tsx
  packages/player/src/views/Plugins/Plugins.test-wrapper.tsx
  packages/player/src/views/Plugins/Plugins.test.data.tsx
  packages/player/src/views/Plugins/Plugins.test.tsx
  packages/player/src/views/Plugins/__snapshots__/PluginStore.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
Due: Player (App)

More plugin store tests
  packages/player/src/test/mocks/plugin-fs.ts
  packages/player/src/views/Plugins/PluginStore.test.tsx
  packages/player/src/views/Plugins/Plugins.test-wrapper.tsx
  packages/player/src/views/Plugins/Plugins.test.data.tsx
Due: Player (App)

Fix last installation test
  packages/player/src/views/Plugins/PluginStore.test.tsx
  packages/player/src/views/Plugins/Plugins.test.data.tsx
Due: Player (App)

Avoid displacing content for scrollbars
  packages/ui/src/components/QueuePanel/QueuePanel.tsx
  packages/ui/src/components/ScrollableArea/ScrollableArea.tsx
Due: UI Library
