Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: 80..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: false

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"
  require_changes: true
  behavior: default

github_checks:
  annotations: true

flag_management:
  default_rules:
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
        threshold: 1%
        informational: true
      - type: patch
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: true
  individual_components:
    - component_id: player_app
      name: Player (App)
      paths:
        - "packages/player/src/**"
    - component_id: player_tauri
      name: Player (Tauri Rust)
      paths:
        - "packages/player/src-tauri/**"
    - component_id: ui
      name: UI Library
      paths:
        - "packages/ui/src/**"
    - component_id: hifi
      name: Hifi
      paths:
        - "packages/hifi/src/**"
    - component_id: model
      name: Data Model
      paths:
        - "packages/model/src/**"
    - component_id: plugin_sdk
      name: Plugin SDK
      paths:
        - "packages/plugin-sdk/src/**"
    - component_id: themes
      name: Themes
      paths:
        - "packages/themes/src/**"

ignore:
  - "packages/docs/**"
  - "packages/storybook/**"
  - "**/__snapshots__/**"
  - "**/*.snap"
  - "packages/**/dist/**"
  - "**/*.d.ts"

Reset fs mock after each test
  packages/player/src/App.hydration.test.tsx
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
Due: Player (App)

Add type import for Mock from vitest in PluginLoader tests
  packages/player/src/services/plugins/PluginLoader.test.ts
Due: Player (App)

Add plugins to summary
  packages/docs/SUMMARY.md
Due: none

Tidy up docs
  packages/docs/SUMMARY.md
  packages/docs/misc/platform-specific.md
  packages/docs/plugins/getting-started.md
  packages/docs/plugins/plugin-system.md
  packages/docs/plugins/settings.md
  packages/docs/themes/themes-advanced.md
  packages/docs/themes/themes-basic.md
  packages/docs/themes/themes.md
Due: none

Update copilot instructions
  .github/copilot-instructions.md
Due: none

Docs main page
  packages/docs/README.md
  packages/docs/SUMMARY.md
Due: none

Popover with warnings
  packages/player/src/views/Plugins/Plugins.tsx
  packages/storybook/src/Popover.stories.tsx
  packages/ui/src/components/PluginItem/PluginItem.tsx
  packages/ui/src/components/Popover/Popover.tsx
  packages/ui/src/components/Popover/index.ts
  packages/ui/src/components/index.ts
Due: Player (App), UI Library

Animated popover
  packages/storybook/src/Button.stories.tsx
  packages/storybook/src/Popover.stories.tsx
  packages/ui/src/components/Popover/Popover.tsx
Due: UI Library

Display plugin load time
  packages/player/src/views/Plugins/Plugins.tsx
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/ui/src/components/PluginItem/PluginItem.tsx
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
  packages/ui/src/components/Popover/Popover.tsx
Due: Player (App), UI Library

Popover snapshot tests
  packages/ui/src/components/PluginItem/PluginItem.test.tsx
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
  packages/ui/src/components/Popover/Popover.test.tsx
  packages/ui/src/components/Popover/__snapshots__/Popover.test.tsx.snap
Due: UI Library

Mock framer-motion in ui tests
  packages/ui/src/components/Card/__snapshots__/Card.test.tsx.snap
  packages/ui/src/components/CardGrid/__snapshots__/CardGrid.test.tsx.snap
  packages/ui/src/components/PlayerWorkspace/__snapshots__/PlayerWorkspace.test.tsx.snap
  packages/ui/src/components/Popover/__snapshots__/Popover.test.tsx.snap
  packages/ui/src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  packages/ui/src/components/__snapshots__/PlayerShell.test.tsx.snap
  packages/ui/src/test/setup.ts
Due: UI Library

Ad required dependencies
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

Track table stub
  packages/storybook/package.json
  packages/storybook/src/Button.stories.tsx
  packages/storybook/src/TrackTable.stories.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/index.ts
  packages/ui/src/components/TrackTable/labels.ts
  packages/ui/src/components/TrackTable/types.ts
  packages/ui/src/components/index.ts
  pnpm-lock.yaml
Due: UI Library

Basic track display
  packages/storybook/src/TrackTable.stories.tsx
  packages/ui/src/components/PlayerBar/PlayerBarSeekBar.tsx
  packages/ui/src/components/TrackTable/Cells/TextCell.tsx
  packages/ui/src/components/TrackTable/Cells/ThumbnailCell.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/labels.ts
  packages/ui/src/components/TrackTable/types.ts
  packages/ui/src/utils/time.ts
Due: UI Library

Drag and drop rows, new headers and cell types
  packages/storybook/package.json
  packages/storybook/src/TrackTable.stories.tsx
  packages/ui/package.json
  packages/ui/src/components/TrackTable/Cells/PositionCell.tsx
  packages/ui/src/components/TrackTable/Cells/TextCell.tsx
  packages/ui/src/components/TrackTable/Cells/ThumbnailCell.tsx
  packages/ui/src/components/TrackTable/Headers/IconHeader.tsx
  packages/ui/src/components/TrackTable/Headers/TextHeader.tsx
  packages/ui/src/components/TrackTable/SortableRow.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/labels.tsx
  pnpm-lock.yaml
Due: UI Library

Enable sorting
  packages/storybook/src/TrackTable.stories.tsx
  packages/ui/src/components/TrackTable/Headers/IconHeader.tsx
  packages/ui/src/components/TrackTable/Headers/TextHeader.tsx
  packages/ui/src/components/TrackTable/SortableRow.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
Due: UI Library

Enable virtualization for track table
  packages/storybook/src/TrackTable.stories.tsx
  packages/ui/src/components/TrackTable/SortableRow.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
Due: UI Library

Fix lint staged task
  package.json
Due: none

Extract sorting state and columns
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/hooks/useColumns.tsx
  packages/ui/src/components/TrackTable/hooks/useSorting.ts
  packages/ui/src/components/TrackTable/utils/constants.ts
Due: UI Library

Extract virtualization methods
  packages/storybook/src/TrackTable.stories.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/TrackTableContext.tsx
  packages/ui/src/components/TrackTable/VirtualizedBody.tsx
  packages/ui/src/components/TrackTable/hooks/useVirtualRows.ts
Due: UI Library

Split reordering from the track table; new lint rule
  eslint.config.ts
  packages/eslint-config/eslint.config.ts
  packages/player/src/App.test-wrapper.tsx
  packages/player/src/services/plugins/PluginLoader.test.ts
  packages/player/src/services/plugins/PluginLoader.ts
  packages/player/src/services/plugins/pluginCompiler.ts
  packages/player/src/services/plugins/pluginManifest.ts
  packages/player/src/services/themeBootstrap.ts
  packages/player/src/stores/pluginStore.tsx
  packages/player/src/stores/settingsStore.ts
  packages/player/src/test/utils/inMemoryTauriStore.ts
  packages/ui/src/components/TrackTable/ReorderLayer.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/hooks/useReorder.ts
Due: Player (App), UI Library

Track table filtering
  packages/storybook/src/Input.stories.tsx
  packages/storybook/src/TrackTable.stories.tsx
  packages/ui/package.json
  packages/ui/src/components/Input/Input.tsx
  packages/ui/src/components/TrackTable/Cells/PositionCell.tsx
  packages/ui/src/components/TrackTable/FilterBar.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/hooks/useGlobalFilter.ts
Due: UI Library

Track table tests
  packages/ui/src/components/TrackTable/TrackTable.test.tsx
  packages/ui/src/components/TrackTable/__snapshots__/TrackTable.test.tsx.snap
Due: UI Library

Update snapshots
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/ui/src/components/Input/__snapshots__/Input.test.tsx.snap
Due: none

Fix linter
  packages/themes/src/advanced/generator.ts
  packages/themes/src/index.ts
Due: Themes

Fix linter
  packages/ui/src/components/PlayerBar/useSeekBar.ts
  packages/ui/src/components/PlayerWorkspace/hooks.ts
  packages/ui/src/components/ScrollableArea/ScrollableArea.tsx
  packages/ui/src/components/Select/SelectDescription.tsx
  packages/ui/src/components/Select/SelectError.tsx
  packages/ui/src/components/Select/SelectLabel.tsx
  packages/ui/src/components/Select/context.ts
  packages/ui/src/components/Slider/Slider.tsx
  packages/ui/src/components/Slider/context.tsx
  packages/ui/src/components/Slider/useSliderWheel.ts
  packages/ui/src/components/TrackTable/TrackTableContext.tsx
Due: UI Library

Fix linter
  packages/hifi/src/test/Oscilloscope.test.tsx
  packages/hifi/src/useAudioGraph.ts
Due: Hifi

Upgrade storybook
  package.json
  packages/eslint-config/eslint.config.ts
  packages/eslint-config/package.json
  packages/storybook/.storybook/main.ts
  packages/storybook/.storybook/preview.ts
  packages/storybook/package.json
  packages/storybook/src/BottomBar.stories.tsx
  packages/storybook/src/Box.stories.tsx
  packages/storybook/src/Button.stories.tsx
  packages/storybook/src/Card.stories.tsx
  packages/storybook/src/CardGrid.stories.tsx
  packages/storybook/src/Input.stories.tsx
  packages/storybook/src/Loader.stories.tsx
  packages/storybook/src/PlayerBar.stories.tsx
  packages/storybook/src/PlayerWorkspace.stories.tsx
  packages/storybook/src/PluginItem.stories.tsx
  packages/storybook/src/Popover.stories.tsx
  packages/storybook/src/ScrollableArea.stories.tsx
  packages/storybook/src/Select.stories.tsx
  packages/storybook/src/SidebarNavigation.stories.tsx
  packages/storybook/src/Slider.stories.tsx
  packages/storybook/src/Tabs.stories.tsx
  packages/storybook/src/ThemeController.stories.tsx
  packages/storybook/src/Toaster.stories.tsx
  packages/storybook/src/Toggle.stories.tsx
  packages/storybook/src/TopBar.stories.tsx
  packages/storybook/src/TrackTable.stories.tsx
  packages/storybook/src/Welcome.stories.tsx
  pnpm-lock.yaml
Due: none

Artist page stub
  packages/model/src/index.ts
  packages/player/src/routeTree.gen.ts
  packages/player/src/routes/artist/$providerId/$artistId.tsx
  packages/player/src/views/Artist/Artist.test-wrapper.tsx
  packages/player/src/views/Artist/Artist.test.tsx
  packages/player/src/views/Artist/Artist.tsx
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Search/Search.tsx
  packages/plugin-sdk/src/types/search.ts
Due: Player (App), Data Model, Plugin SDK

Fix popover story
  packages/storybook/src/Popover.stories.tsx
Due: none

Split search and details into separate capabilities
  packages/model/src/index.ts
  packages/player/src/routes/artist/$providerId/$artistId.tsx
  packages/player/src/services/search/executeArtistMetadataSearch.test.tsx
  packages/player/src/services/search/executeArtistMetadataSearch.ts
  packages/player/src/services/search/executeMetadataSearch.test.ts
  packages/player/src/services/search/executeMetadataSearch.ts
  packages/player/src/test/builders/MetadataProviderBuilder.ts
  packages/player/src/views/Artist/Artist.test.tsx
  packages/player/src/views/Artist/Artist.tsx
  packages/player/src/views/Artist/components/ArtistAlbumsGrid.tsx
  packages/player/src/views/Artist/components/ArtistHeader.tsx
  packages/player/src/views/Artist/hooks/useArtistAlbums.ts
  packages/player/src/views/Artist/hooks/useArtistDetails.ts
  packages/plugin-sdk/src/types/search.ts
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/PlayerBar/PlayerBarNowPlaying.tsx
  packages/ui/src/components/PluginItem/PluginItem.tsx
Due: Player (App), UI Library, Data Model, Plugin SDK

Split data feetching
  packages/player/src/views/Artist/Artist.tsx
  packages/player/src/views/Artist/components/ArtistAlbumsGrid.tsx
  packages/player/src/views/Artist/components/ArtistHeader.tsx
Due: Player (App)

Top tracks and related artists search
  packages/player/src/services/search/executeArtistMetadataSearch.test.tsx
  packages/player/src/services/search/executeArtistMetadataSearch.ts
Due: Player (App)

Create similar artists and top tracks components
  packages/player/src/views/Artist/Artist.tsx
  packages/player/src/views/Artist/components/ArtistPopularTracks.tsx
  packages/player/src/views/Artist/components/ArtistSimilarArtists.tsx
  packages/player/src/views/Artist/hooks/useArtistAlbums.ts
  packages/player/src/views/Artist/hooks/useArtistDetails.ts
  packages/player/src/views/Artist/hooks/useArtistRelatedArtists.ts
  packages/player/src/views/Artist/hooks/useArtistTopTracks.ts
  packages/plugin-sdk/src/types/search.ts
Due: Player (App), Plugin SDK

Snapshot tests with data
  package.json
  packages/player/src/test/builders/MetadataProviderBuilder.ts
  packages/player/src/views/Artist/Artist.test.tsx
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
Due: Player (App)

Add data-testid attributes for testing
  packages/player/src/views/Artist/Artist.test-wrapper.tsx
  packages/player/src/views/Artist/Artist.test.tsx
  packages/player/src/views/Artist/Artist.tsx
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Artist/components/ArtistAlbumsGrid.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/CardGrid/CardGrid.tsx
Due: Player (App), UI Library

Artist page loading test
  packages/player/src/views/Artist/Artist.test-wrapper.tsx
  packages/player/src/views/Artist/Artist.test.tsx
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Artist/components/ArtistAlbumsGrid.tsx
  packages/player/src/views/Artist/components/ArtistHeader.tsx
  packages/player/src/views/Artist/components/ArtistPopularTracks.tsx
  packages/player/src/views/Artist/components/ArtistSimilarArtists.tsx
  packages/ui/src/components/Loader/Loader.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
Due: Player (App), UI Library

Update snapshots
  packages/player/src/views/Artist/Artist.test.tsx
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
Due: Player (App)

Update ui snapshots
  packages/ui/src/components/Card/__snapshots__/Card.test.tsx.snap
  packages/ui/src/components/CardGrid/__snapshots__/CardGrid.test.tsx.snap
  packages/ui/src/components/PlayerBar/__snapshots__/PlayerBar.test.tsx.snap
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
  packages/ui/src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
Due: none

Update app snapshot
  packages/player/src/__snapshots__/App.test.tsx.snap
Due: none
