Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: 80..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: false

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"
  require_changes: true
  behavior: default

github_checks:
  annotations: true

flag_management:
  default_rules:
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
        threshold: 1%
        informational: true
      - type: patch
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: true
  individual_components:
    - component_id: player_app
      name: Player (App)
      paths:
        - "packages/player/src/**"
    - component_id: player_tauri
      name: Player (Tauri Rust)
      paths:
        - "packages/player/src-tauri/**"
    - component_id: ui
      name: UI Library
      paths:
        - "packages/ui/src/**"
    - component_id: hifi
      name: Hifi
      paths:
        - "packages/hifi/src/**"
    - component_id: model
      name: Data Model
      paths:
        - "packages/model/src/**"
    - component_id: plugin_sdk
      name: Plugin SDK
      paths:
        - "packages/plugin-sdk/src/**"
    - component_id: themes
      name: Themes
      paths:
        - "packages/themes/src/**"

ignore:
  - "packages/docs/**"
  - "packages/storybook/**"
  - "**/__snapshots__/**"
  - "**/*.snap"
  - "packages/**/dist/**"
  - "**/*.d.ts"

Loader
  packages/storybook/src/Loader.stories.tsx
  packages/ui/src/components/Loader/Loader.tsx
  packages/ui/src/components/Loader/index.ts
  packages/ui/src/components/index.ts
Due: UI Library

Tabs component
  packages/storybook/src/Card.stories.tsx
  packages/storybook/src/Tabs.stories.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
  packages/ui/src/components/Tabs/TabsList.tsx
  packages/ui/src/components/Tabs/TabsPanel.tsx
  packages/ui/src/components/Tabs/TabsPanels.tsx
  packages/ui/src/components/Tabs/TabsRoot.tsx
  packages/ui/src/components/Tabs/TabsTab.tsx
  packages/ui/src/components/Tabs/context.ts
  packages/ui/src/components/Tabs/index.ts
  packages/ui/src/components/index.ts
Due: UI Library

Tabs tests
  packages/ui/src/components/Select/Select.test.tsx
  packages/ui/src/components/Select/__snapshots__/Select.test.tsx.snap
  packages/ui/src/components/Tabs/Tabs.test.tsx
  packages/ui/src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
Due: UI Library

Update tabs snapshot
  packages/ui/src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
Due: none

Composition mode test
  packages/ui/src/components/Tabs/Tabs.test.tsx
  packages/ui/src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
Due: UI Library

Render search results as tabs
  packages/player/package.json
  packages/player/src/views/Search/Search.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Tabs/index.ts
  pnpm-lock.yaml
Due: Player (App), UI Library

Render tabs as buttons
  packages/player/src/views/Search/Search.tsx
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/tailwind-config/global.css
  packages/ui/src/components/Tabs/TabsTab.tsx
  packages/ui/src/components/ViewShell/ViewShell.tsx
Due: Player (App), UI Library

Fix circular dependency
  packages/player/src/views/Search/Search.tsx
Due: Player (App)

Animate loading images
  packages/storybook/package.json
  packages/storybook/src/Card.stories.tsx
  packages/tailwind-config/global.css
  packages/ui/package.json
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/ImageReveal/ImageReveal.tsx
  packages/ui/src/components/ImageReveal/index.ts
  packages/ui/src/components/index.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: UI Library

CSS tweaks to enable correct scrolling
  packages/storybook/.storybook/preview.ts
  packages/ui/src/components/ScrollableArea/ScrollableArea.tsx
  packages/ui/src/components/Tabs/TabsPanel.tsx
  packages/ui/src/components/Tabs/TabsPanels.tsx
  packages/ui/src/components/Tabs/TabsRoot.tsx
Due: UI Library

Update snapshots
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/ui/src/components/Card/__snapshots__/Card.test.tsx.snap
  packages/ui/src/components/CardGrid/__snapshots__/CardGrid.test.tsx.snap
  packages/ui/src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
Due: none

Create plugin registry
  packages/player/src/services/pluginRegistry.ts
Due: Player (App)

Basic fs operations for plugin persistence
  packages/player/src-tauri/src/lib.rs
  packages/player/src/services/pluginsDirService.ts
  packages/player/src/services/rustFs.ts
  packages/player/src/utils/logging.ts
Due: Player (App), Player (Tauri Rust)

Load plugins with persistence
  packages/player/src/stores/pluginStore.tsx
Due: Player (App)

Create a Rust command to work around Tauri permission design flaws
  packages/player/src-tauri/capabilities/default.json
  packages/player/src-tauri/src/lib.rs
  packages/player/src/services/rustFs.ts
  packages/player/src/stores/pluginStore.tsx
Due: Player (App), Player (Tauri Rust)

Hydrate plugins after load
  packages/player/src-tauri/capabilities/default.json
  packages/player/src/main.tsx
  packages/player/src/services/pluginsDirService.ts
  packages/player/src/stores/pluginStore.tsx
Due: Player (App), Player (Tauri Rust)

Move plugin services
  packages/player/src/services/plugins/PluginLoader.test.ts
  packages/player/src/services/plugins/PluginLoader.ts
  packages/player/src/services/plugins/pluginCompiler.ts
  packages/player/src/services/plugins/pluginManifest.ts
  packages/player/src/stores/pluginStore.tsx
Due: Player (App)

Plugins view tests
  packages/player/src/routes/plugins.tsx
  packages/player/src/services/plugins/PluginLoader.ts
  packages/player/src/stores/pluginStore.tsx
  packages/player/src/test/mocks/plugin-dialog.ts
  packages/player/src/test/mocks/plugin-fs.ts
  packages/player/src/views/Plugins/Plugins.test-wrapper.tsx
  packages/player/src/views/Plugins/Plugins.test.data.tsx
  packages/player/src/views/Plugins/Plugins.test.tsx
  packages/player/src/views/Plugins/Plugins.tsx
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/ui/src/components/PluginItem/PluginItem.tsx
Due: Player (App), UI Library

Plugin registry
  packages/player/src/services/plugins/pluginRegistry.ts
Due: Player (App)

Refactor ensure dir
  packages/player/src/services/advancedThemeDirService.ts
  packages/player/src/services/plugins/pluginDir.ts
  packages/player/src/utils/logging.ts
  packages/player/src/utils/path.ts
Due: Player (App)

fs_extended tauri plugin stub
  packages/player/src-tauri/src/lib.rs
  packages/player/src-tauri/src/plugins/fs_extended/commands.rs
  packages/player/src-tauri/src/plugins/fs_extended/mod.rs
  packages/player/src-tauri/src/plugins/mod.rs
  packages/player/src/services/advancedThemeDirService.ts
  packages/player/src/services/plugins/pluginDir.ts
  packages/player/src/utils/path.ts
Due: Player (App), Player (Tauri Rust)

Recursive dir copy
  packages/player/src-tauri/src/plugins/fs_extended/commands.rs
  packages/player/src-tauri/src/plugins/fs_extended/mod.rs
  packages/player/src/services/plugins/pluginDir.ts
  packages/player/src/services/tauri/fs-extended.ts
Due: Player (App), Player (Tauri Rust)

Full plugin installation flow
  packages/player/src-tauri/capabilities/default.json
  packages/player/src-tauri/src/lib.rs
  packages/player/src-tauri/src/plugins/fs_expanded/commands.rs
  packages/player/src-tauri/src/plugins/fs_expanded/mod.rs
  packages/player/src-tauri/src/plugins/mod.rs
  packages/player/src/services/advancedThemeDirService.ts
  packages/player/src/services/advancedThemeService.ts
  packages/player/src/services/plugins/pluginDir.ts
  packages/player/src/services/tauri/fs-expanded.ts
  packages/player/src/stores/pluginStore.tsx
Due: Player (App), Player (Tauri Rust)

Register tauri commands directly
  packages/player/src-tauri/src/commands.rs
  packages/player/src-tauri/src/lib.rs
  packages/player/src-tauri/src/plugins/fs_expanded/mod.rs
  packages/player/src-tauri/src/plugins/mod.rs
  packages/player/src/services/tauri/commands.ts
Due: Player (App), Player (Tauri Rust)

Handle managed plugin path correctly
  packages/player/src-tauri/capabilities/default.json
  packages/player/src/services/plugins/PluginLoader.ts
  packages/player/src/services/plugins/pluginCompiler.ts
  packages/player/src/services/plugins/pluginDir.ts
  packages/player/src/stores/pluginStore.tsx
Due: Player (App), Player (Tauri Rust)

Deprecate named plugin icons
  packages/player/package.json
  packages/player/src-tauri/capabilities/default.json
  packages/player/src/components/PluginIcon.tsx
  packages/player/src/services/plugins/pluginManifest.ts
  packages/player/src/views/Plugins/Plugins.test.data.tsx
  packages/plugin-sdk/README.md
  packages/plugin-sdk/package.json
  packages/plugin-sdk/src/types.ts
  packages/storybook/package.json
  packages/ui/package.json
  packages/ui/src/components/PluginItem/PluginItem.tsx
  pnpm-lock.yaml
Due: Player (App), Player (Tauri Rust), UI Library, Plugin SDK

Full plugin load sequence test
  packages/player/src/services/advancedThemeDirService.ts
  packages/player/src/services/plugins/pluginDir.ts
  packages/player/src/test/mocks/plugin-fs.ts
  packages/player/src/test/setup.ts
  packages/player/src/test/utils/inMemoryTauriStore.ts
  packages/player/src/views/Plugins/Plugins.test.data.tsx
  packages/player/src/views/Plugins/Plugins.test.tsx
  packages/player/src/views/Plugins/Plugins.tsx
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
Due: Player (App)

Update ui snapshots
  packages/ui/src/components/Card/__snapshots__/Card.test.tsx.snap
  packages/ui/src/components/CardGrid/__snapshots__/CardGrid.test.tsx.snap
  packages/ui/src/components/PlayerBar/__snapshots__/PlayerBar.test.tsx.snap
  packages/ui/src/components/PlayerWorkspace/__snapshots__/PlayerWorkspace.test.tsx.snap
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
  packages/ui/src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  packages/ui/src/components/__snapshots__/PlayerShell.test.tsx.snap
Due: none

Adapt logging and themes tests
  packages/player/src/services/advancedThemeDirService.ts
  packages/player/src/services/advancedThemeService.ts
  packages/player/src/services/plugins/pluginDir.ts
  packages/player/src/utils/logging.ts
  packages/player/src/utils/path.ts
  packages/player/src/views/Themes/Themes.test.tsx
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
Due: Player (App)

Update plugin store tests
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/services/plugins/PluginLoader.test.ts
  packages/player/src/stores/pluginStore.test.ts
  packages/player/src/test/setup.ts
  packages/player/src/test/utils/testPluginFolder.ts
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
Due: Player (App)

Simplify plugin store test mocks
  packages/player/src/stores/pluginStore.test.ts
  packages/player/src/test/setup.ts
  packages/player/src/test/utils/testPluginFolder.ts
Due: Player (App)

Fix plugin loader tests
  packages/player/src/services/plugins/PluginLoader.test.ts
  packages/player/src/test/mocks/plugin-fs.ts
Due: Player (App)

Fix remaining themes tests
  packages/player/src/views/Themes/Themes.test.tsx
Due: Player (App)

Plugin bootstrap and test stubs
  packages/player/src/App.hydration.test.tsx
  packages/player/src/main.tsx
  packages/player/src/services/plugins/PluginLoader.test.ts
  packages/player/src/services/plugins/pluginBootstrap.ts
  packages/player/src/stores/pluginStore.tsx
  packages/player/src/stores/startupStore.ts
  packages/player/src/utils/logging.ts
Due: Player (App)

Fix mock import order
  packages/player/src/App.hydration.test.tsx
  packages/player/src/services/plugins/PluginLoader.test.ts
  packages/player/src/stores/pluginStore.test.ts
Due: Player (App)

Plugin system notes
  packages/docs/platform-specific.md
  packages/docs/plugin-system.md
Due: none

Startup hydration tests
  packages/player/src/App.hydration.test.tsx
  packages/player/src/test/utils/seedPluginRegistry.ts
Due: Player (App)

Support setting multiple paths to read in fs mocks
  packages/player/src/App.hydration.test.tsx
  packages/player/src/test/mocks/plugin-fs.ts
Due: Player (App)

Startup metrics test
  packages/player/src/App.hydration.test.tsx
  packages/player/src/views/Plugins/Plugins.test-wrapper.tsx
Due: Player (App)

Prevent the warning badge being cut off
  packages/player/src/views/Plugins/Plugins.tsx
Due: Player (App)
