Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

Disable auto-update in flatpaks
  packages/player/src-tauri/src/lib.rs
Due: Player (Tauri Rust)

Flatpak warning banner
  packages/i18n/src/locales/en_US.json
  packages/player/src-tauri/src/commands.rs
  packages/player/src-tauri/src/lib.rs
  packages/player/src/components/FlatpakWarningBanner.tsx
  packages/player/src/routes/__root.tsx
  packages/player/src/services/tauri/commands.ts
  packages/ui/src/components/Button/Button.tsx
Due: Player (App), Player (Tauri Rust), UI Library

Update button snapshots
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteAlbums.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteArtists.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteTracks.test.tsx.snap
  packages/player/src/views/PlaylistDetail/__snapshots__/PlaylistDetail.test.tsx.snap
  packages/player/src/views/Playlists/__snapshots__/Playlists.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/PluginStore.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/ui/src/components/Card/__snapshots__/Card.test.tsx.snap
  packages/ui/src/components/CardGrid/__snapshots__/CardGrid.test.tsx.snap
  packages/ui/src/components/CardsRow/__snapshots__/CardsRow.test.tsx.snap
  packages/ui/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/ui/src/components/EmptyState/__snapshots__/EmptyState.test.tsx.snap
  packages/ui/src/components/FavoriteButton/__snapshots__/FavoriteButton.test.tsx.snap
  packages/ui/src/components/LogViewer/__snapshots__/LogViewer.test.tsx.snap
  packages/ui/src/components/PlayerBar/__snapshots__/PlayerBar.test.tsx.snap
  packages/ui/src/components/PlayerWorkspace/__snapshots__/PlayerWorkspace.test.tsx.snap
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
  packages/ui/src/components/PluginStoreItem/__snapshots__/PluginStoreItem.test.tsx.snap
  packages/ui/src/components/Popover/__snapshots__/Popover.test.tsx.snap
  packages/ui/src/components/QueueItem/__snapshots__/QueueItem.test.tsx.snap
  packages/ui/src/components/QueuePanel/__snapshots__/QueuePanel.test.tsx.snap
  packages/ui/src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  packages/ui/src/components/__snapshots__/PlayerShell.test.tsx.snap
Due: none

Flatpak yaml
  flatpak/com.nuclearplayer.Nuclear.yml
Due: none

Catch error if is_flatpak command is not available
  packages/player/src/components/FlatpakWarningBanner.tsx
Due: Player (App)

Flatpak build action
  .github/workflows/release-player.yml
  flatpak/prepare-build.sh
Due: none

New translations en_us.json (French)
  packages/i18n/src/locales/fr_FR.json
Due: none

New translations en_us.json (Spanish)
  packages/i18n/src/locales/es_ES.json
Due: none

New translations en_us.json (German)
  packages/i18n/src/locales/de_DE.json
Due: none

New translations en_us.json (Italian)
  packages/i18n/src/locales/it_IT.json
Due: none

New translations en_us.json (Russian)
  packages/i18n/src/locales/ru_RU.json
Due: none

New translations en_us.json (Portuguese, Brazilian)
  packages/i18n/src/locales/pt_BR.json
Due: none

player@1.6.0
  packages/player/package.json
  packages/player/src-tauri/resources/com.nuclearplayer.Nuclear.metainfo.xml
  packages/player/src-tauri/tauri.conf.json
Due: Player (Tauri Rust)

player@1.6.1
  flatpak/com.nuclearplayer.Nuclear.yml
  packages/player/package.json
  packages/player/src-tauri/resources/com.nuclearplayer.Nuclear.metainfo.xml
  packages/player/src-tauri/tauri.conf.json
Due: Player (Tauri Rust)

player@1.6.2
  .github/workflows/release-player.yml
  packages/player/package.json
  packages/player/src-tauri/resources/com.nuclearplayer.Nuclear.metainfo.xml
  packages/player/src-tauri/tauri.conf.json
Due: Player (Tauri Rust)

Add devcontainer for Flatpak GUI testing
  .devcontainer/devcontainer.json
Due: none

Highlight selected navigation item
  packages/player/src/routes/__root.tsx
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/ui/src/components/SidebarNavigation/SidebarNavigationItem.tsx
Due: Player (App), UI Library

Log viewer QoL improvements
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/storybook/src/LogEntry.stories.tsx
  packages/storybook/src/LogViewer.stories.tsx
  packages/storybook/src/log-stories.data.ts
  packages/ui/src/components/CollapsibleText/CollapsibleText.test.tsx
  packages/ui/src/components/CollapsibleText/CollapsibleText.tsx
  packages/ui/src/components/CollapsibleText/index.ts
  packages/ui/src/components/LogEntry/LogEntry.test.tsx
  packages/ui/src/components/LogEntry/LogEntry.tsx
  packages/ui/src/components/LogEntry/__snapshots__/LogEntry.test.tsx.snap
  packages/ui/src/components/LogViewer/LogViewer.test.tsx
  packages/ui/src/components/LogViewer/LogViewerRoot.tsx
  packages/ui/src/components/LogViewer/LogViewerVirtualizedList.tsx
  packages/ui/src/components/LogViewer/__snapshots__/LogViewer.test.tsx.snap
  packages/ui/src/components/index.ts
Due: UI Library

Modularized log entries
  packages/storybook/src/LogEntry.stories.tsx
  packages/ui/src/components/CollapsibleText/CollapsibleText.test.tsx
  packages/ui/src/components/CollapsibleText/CollapsibleText.tsx
  packages/ui/src/components/CollapsibleText/index.ts
  packages/ui/src/components/LogEntry/CopyButton.tsx
  packages/ui/src/components/LogEntry/LogEntry.test.tsx
  packages/ui/src/components/LogEntry/LogEntry.tsx
  packages/ui/src/components/LogEntry/__snapshots__/LogEntry.test.tsx.snap
  packages/ui/src/components/LogViewer/LogViewer.test.tsx
  packages/ui/src/components/LogViewer/LogViewerVirtualizedList.tsx
  packages/ui/src/components/LogViewer/__snapshots__/LogViewer.test.tsx.snap
  packages/ui/src/components/LogViewer/useLogEntryHandlers.ts
  packages/ui/src/components/index.ts
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useCollapsibleText.test.ts
  packages/ui/src/hooks/useCollapsibleText.ts
  packages/ui/src/index.ts
Due: UI Library

player@1.6.3
  packages/player/package.json
  packages/player/src-tauri/tauri.conf.json
Due: Player (Tauri Rust)

Fix plugin compiler on windows (maybe)
  packages/player/src/services/plugins/pluginCompiler.ts
Due: Player (App)

player@1.6.4
  packages/player/package.json
  packages/player/src-tauri/tauri.conf.json
Due: Player (Tauri Rust)

Use tauri tools for all paths
  packages/player/src/services/plugins/pluginCompiler.ts
Due: Player (App)

Temp console log
  packages/player/src/services/plugins/pluginCompiler.ts
Due: Player (App)

Remove temp logging
  packages/player/src/services/plugins/pluginCompiler.ts
Due: Player (App)

player@1.6.5
  packages/player/package.json
  packages/player/src-tauri/tauri.conf.json
Due: Player (Tauri Rust)

Fix path resolution on Windows
  packages/player/src-tauri/Cargo.lock
  packages/player/src-tauri/Cargo.toml
  packages/player/src-tauri/src/main.rs
Due: Player (Tauri Rust)

player@1.6.6
  packages/player/package.json
  packages/player/src-tauri/tauri.conf.json
Due: Player (Tauri Rust)

Add version number to sidebar
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/env.d.ts
  packages/player/src/hooks/useAppVersion.ts
  packages/player/src/routes/__root.tsx
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/Themes.test.tsx
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/player/vite.config.ts
  packages/ui/src/components/PlayerWorkspace/PlayerWorkspaceSidebar.tsx
  packages/ui/src/components/PlayerWorkspace/__snapshots__/PlayerWorkspace.test.tsx.snap
  packages/ui/src/components/__snapshots__/PlayerShell.test.tsx.snap
  pnpm-lock.yaml
Due: Player (App), UI Library

Playlist import TDD tests
  packages/player/src/views/Playlists/Playlists.test-wrapper.tsx
  packages/player/src/views/Playlists/Playlists.test.tsx
Due: Player (App)

Tests for errors
  packages/player/src/views/Playlists/Playlists.test-wrapper.tsx
  packages/player/src/views/Playlists/Playlists.test.tsx
Due: Player (App)

More error tests
  packages/player/src/views/Playlists/Playlists.test.tsx
Due: Player (App)

Implement playlist import
  packages/player/src/hooks/usePlaylistImport.ts
  packages/player/src/stores/playlistStore.ts
  packages/player/src/views/Playlists/Playlists.test.tsx
  packages/player/src/views/Playlists/Playlists.tsx
Due: Player (App)

Export TDD test
  packages/i18n/src/locales/en_US.json
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test-wrapper.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test.tsx
Due: Player (App)

Error tests for exports
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test.tsx
Due: Player (App)

Popover menus and export functionality
  packages/player/src/components/ConnectedQueuePanel.tsx
  packages/player/src/hooks/usePlaylistExport.ts
  packages/player/src/views/PlaylistDetail/components/PlaylistDetailActions.tsx
  packages/player/src/views/Playlists/Playlists.tsx
  packages/player/vite.config.ts
  packages/storybook/src/Popover.stories.tsx
  packages/ui/src/components/Popover/Popover.test.tsx
  packages/ui/src/components/Popover/Popover.tsx
  packages/ui/src/components/Popover/PopoverItem.tsx
  packages/ui/src/components/Popover/PopoverMenu.tsx
  packages/ui/src/components/Popover/__snapshots__/Popover.test.tsx.snap
Due: Player (App), UI Library

Handle permissions
  packages/player/src-tauri/capabilities/default.json
  packages/ui/src/components/Popover/PopoverItem.tsx
Due: Player (Tauri Rust), UI Library

Success toasts
  packages/player/src/hooks/useLogExport.ts
  packages/player/src/hooks/usePlaylistExport.ts
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test.tsx
Due: Player (App)

Add "Add to Queue" action icon
  packages/player/src/views/PlaylistDetail/components/PlaylistDetailActions.tsx
Due: Player (App)

Update snapshots
  packages/ui/src/components/Popover/__snapshots__/Popover.test.tsx.snap
Due: none

Path conditions:
  Player (App): any of: packages/player/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Player (Tauri Rust): any of: packages/player/src-tauri/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  UI Library: any of: packages/ui/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Hifi: any of: packages/hifi/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Data Model: any of: packages/model/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Plugin SDK: any of: packages/plugin-sdk/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Themes: any of: packages/themes/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
