Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

Queue panel action tests
  packages/player/src/components/ConnectedTrackContextMenu.test.tsx
  packages/player/src/integration-tests/Queue.test-wrapper.tsx
  packages/player/src/integration-tests/queue.test.tsx
  packages/player/src/test/fixtures/playlists.ts
Due: Player (App)

Queue panel actions
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/components/ConnectedQueuePanel.tsx
  packages/player/src/routes/__root.tsx
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/PlaylistDetail/components/PlaylistDetailActions.tsx
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/ui/src/components/PlayerWorkspace/PlayerWorkspaceSidebar.tsx
Due: Player (App), UI Library

New i18n strings
  packages/i18n/src/locales/en_US.json
Due: none

Post-code review feedback
  packages/player/src/components/ConnectedQueuePanel.tsx
  packages/player/src/hooks/usePlaylistSubmenu.ts
  packages/player/src/services/playlistFileService/PlaylistFileStore.ts
  packages/player/src/services/playlistFileService/PlaylistIndexStore.ts
  packages/player/src/services/playlistFileService/index.ts
  packages/player/src/services/validatedStore.ts
  packages/player/src/test/builders/PlaylistBuilder.ts
  packages/player/src/views/PlaylistDetail/usePlaylistDetail.ts
  packages/player/src/views/PlaylistDetail/usePlaylistEditing.ts
  packages/player/src/views/Playlists/PlaylistsContext.tsx
  packages/player/src/views/Playlists/components/CreatePlaylistDialog.tsx
  packages/ui/src/components/TrackTable/Cells/RemoveCell.tsx
  packages/ui/src/components/TrackTable/types.ts
Due: Player (App), UI Library

New translations en_us.json (French)
  packages/i18n/src/locales/fr_FR.json
Due: none

New translations en_us.json (Spanish)
  packages/i18n/src/locales/es_ES.json
Due: none

New translations en_us.json (German)
  packages/i18n/src/locales/de_DE.json
Due: none

New translations en_us.json (Italian)
  packages/i18n/src/locales/it_IT.json
Due: none

New translations en_us.json (Russian)
  packages/i18n/src/locales/ru_RU.json
Due: none

New translations en_us.json (Portuguese, Brazilian)
  packages/i18n/src/locales/pt_BR.json
Due: none

Fix plugin API initialization during plugin hydration
  packages/player/src/services/plugins/pluginBootstrap.ts
Due: Player (App)

player@1.3.0
  packages/player/package.json
  packages/player/src-tauri/tauri.conf.json
Due: Player (Tauri Rust)

Replace custom path utilities with tauri's
  packages/player/src/services/plugins/pluginCompiler.ts
  packages/player/src/test/setup.ts
Due: Player (App)

Fix plugin path processing
  packages/player/src/services/plugins/pluginBootstrap.ts
  packages/player/src/services/plugins/pluginDir.ts
  packages/player/src/services/plugins/pluginDownloader.ts
Due: Player (App)

v1.3.1
  packages/player/package.json
  packages/player/src-tauri/tauri.conf.json
Due: Player (Tauri Rust)

HLS hook
  packages/hifi/src/hooks/useAudioLoader.ts
  packages/hifi/src/hooks/useHlsSource.ts
  packages/hifi/src/types.ts
Due: Hifi

Add hls.js as a dependency
  packages/hifi/package.json
  packages/hifi/src/Sound.tsx
  packages/hifi/vite.config.ts
  pnpm-lock.yaml
Due: Hifi

Fix handling windows paths in esbuild
  packages/player/src/services/plugins/pluginCompiler.ts
Due: Player (App)

Regular audio and hls player tests
  packages/hifi/src/test/Sound.test.tsx
  packages/hifi/src/test/useHlsSource.test.tsx
Due: Hifi

Fix type errors
  packages/hifi/src/CrossfadeSound.tsx
  packages/hifi/src/test/CrossfadeSound.test.tsx
Due: Hifi

Fix remaining type errors
  packages/player/src/hooks/useStreamResolution.ts
  packages/player/src/integration-tests/Sound.test-wrapper.tsx
  packages/player/src/integration-tests/Sound.test.tsx
  packages/player/src/stores/soundStore.ts
Due: Player (App)

Adapt tests to new stream format
  packages/player/src/integration-tests/stream-resolution.test.tsx
Due: Player (App)

player@1.4.0
  packages/player/package.json
  packages/player/src-tauri/tauri.conf.json
Due: Player (Tauri Rust)

Split artist into social stats and bio, add additional capabilities
  packages/model/src/index.ts
  packages/plugin-sdk/src/api/metadata.ts
  packages/plugin-sdk/src/types/metadata.ts
  packages/plugin-sdk/src/types/search.ts
Due: Data Model, Plugin SDK

Add new capabilities to metadata host
  packages/player/src/services/metadataHost.ts
Due: Player (App)

Tests for new capabilities
  packages/player/src/services/metadataHost.test.ts
  packages/player/src/test/builders/MetadataProviderBuilder.ts
Due: Player (App)

Update artist hooks
  packages/player/src/views/Artist/hooks/useArtistBio.ts
  packages/player/src/views/Artist/hooks/useArtistDetails.ts
  packages/player/src/views/Artist/hooks/useArtistPlaylists.ts
  packages/player/src/views/Artist/hooks/useArtistSocialStats.ts
Due: Player (App)

Rename ArtistHeader -> ArtistBioHeader
  packages/player/src/views/Artist/Artist.tsx
  packages/player/src/views/Artist/components/ArtistBioHeader.tsx
Due: Player (App)

Refator artist view into a component compositing workspace
  packages/player/src/views/Artist/Artist.tsx
  packages/player/src/views/Artist/artistWidgets.ts
Due: Player (App)

Test for rendering via capability
  packages/player/src/views/Artist/Artist.test.tsx
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
Due: Player (App)

Add missing meta for favorites test
  packages/player/package.json
  packages/player/src/views/Favorites/FavoriteArtists.test.tsx
Due: Player (App)

New soundcloud-style artist page variant
  packages/i18n/src/locales/en_US.json
  packages/player/src/views/Artist/Artist.test-wrapper.tsx
  packages/player/src/views/Artist/Artist.test.tsx
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Artist/artistWidgets.ts
  packages/player/src/views/Artist/components/ArtistBioHeader.tsx
  packages/player/src/views/Artist/components/ArtistPlaylistsGrid.tsx
  packages/player/src/views/Artist/components/ArtistSimilarArtists.tsx
  packages/player/src/views/Artist/components/ArtistSocialHeader.tsx
Due: Player (App)

Arctic Moss theme
  packages/themes/src/basic/arctic-moss.css
  packages/themes/src/basic/index.ts
  packages/themes/src/index.ts
Due: Themes

Slim down artist page tests
  packages/player/src/test/builders/MetadataProviderBuilder.ts
  packages/player/src/test/fixtures/artists.ts
  packages/player/src/views/Artist/Artist.test-wrapper.tsx
  packages/player/src/views/Artist/Artist.test.tsx
Due: Player (App)

Old artist page header refactor
  packages/player/src/test/fixtures/artists.ts
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Artist/components/ArtistBioHeader.tsx
  packages/player/src/views/Artist/components/ArtistSocialHeader.tsx
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
Due: Player (App)

plugin-sdk@2.0.0
  packages/plugin-sdk/package.json
Due: none

Path conditions:
  Player (App): any of: packages/player/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Player (Tauri Rust): any of: packages/player/src-tauri/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  UI Library: any of: packages/ui/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Hifi: any of: packages/hifi/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Data Model: any of: packages/model/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Plugin SDK: any of: packages/plugin-sdk/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Themes: any of: packages/themes/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
