Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: 80..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: false

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"
  require_changes: true
  behavior: default

github_checks:
  annotations: true

flag_management:
  default_rules:
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
        threshold: 1%
        informational: true
      - type: patch
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: true
  individual_components:
    - component_id: player_app
      name: Player (App)
      paths:
        - "packages/player/src/**"
    - component_id: player_tauri
      name: Player (Tauri Rust)
      paths:
        - "packages/player/src-tauri/**"
    - component_id: ui
      name: UI Library
      paths:
        - "packages/ui/src/**"
    - component_id: hifi
      name: Hifi
      paths:
        - "packages/hifi/src/**"
    - component_id: model
      name: Data Model
      paths:
        - "packages/model/src/**"
    - component_id: plugin_sdk
      name: Plugin SDK
      paths:
        - "packages/plugin-sdk/src/**"
    - component_id: themes
      name: Themes
      paths:
        - "packages/themes/src/**"

ignore:
  - "packages/docs/**"
  - "packages/storybook/**"
  - "**/__snapshots__/**"
  - "**/*.snap"
  - "packages/**/dist/**"
  - "**/*.d.ts"

Round trip test, import/export tweaks
  packages/model/src/index.ts
  packages/model/src/schemas/index.ts
  packages/model/src/schemas/playlists.ts
  packages/player/src/hooks/usePlaylistExport.ts
  packages/player/src/hooks/usePlaylistImport.ts
  packages/player/src/integration-tests/playlist-export-import.test.tsx
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test.tsx
  packages/player/src/views/Playlists/Playlists.test.tsx
  packages/player/src/views/Playlists/Playlists.tsx
  packages/ui/src/components/Badge/Badge.tsx
  packages/ui/src/components/CardsRow/CardsRow.tsx
  packages/ui/src/components/Popover/PopoverItem.tsx
Due: Player (App), UI Library, Data Model

Update snapshots
  packages/ui/src/components/Popover/__snapshots__/Popover.test.tsx.snap
Due: none

Playlist import envelope format
  packages/i18n/src/locales/en_US.json
  packages/model/src/index.ts
  packages/model/src/schemas/index.ts
  packages/model/src/schemas/playlists.ts
  packages/player/src/hooks/useLogExport.ts
  packages/player/src/hooks/usePlaylistExport.ts
  packages/player/src/hooks/usePlaylistImport.ts
  packages/player/src/views/PlaylistDetail/PlaylistDetail.test.tsx
  packages/player/src/views/Playlists/Playlists.test.tsx
Due: Player (App), Data Model

player@1.7.0
  packages/player/package.json
  packages/player/src-tauri/tauri.conf.json
Due: Player (Tauri Rust)

New translations en_us.json (French)
  packages/i18n/src/locales/fr_FR.json
Due: none

New translations en_us.json (Spanish)
  packages/i18n/src/locales/es_ES.json
Due: none

New translations en_us.json (German)
  packages/i18n/src/locales/de_DE.json
Due: none

New translations en_us.json (Italian)
  packages/i18n/src/locales/it_IT.json
Due: none

New translations en_us.json (Russian)
  packages/i18n/src/locales/ru_RU.json
Due: none

New translations en_us.json (Portuguese, Brazilian)
  packages/i18n/src/locales/pt_BR.json
Due: none

Update AGENTS.md release process
  AGENTS.md
Due: none

Artist page layout tweaks
  packages/player/src/views/Artist/Artist.tsx
  packages/player/src/views/Artist/components/ArtistAlbumsGrid.tsx
  packages/player/src/views/Artist/components/ArtistBioHeader.tsx
  packages/player/src/views/Artist/components/ArtistSocialHeader.tsx
Due: Player (App)

Update snapshot
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
Due: none

Tooltip component
  packages/storybook/src/Tooltip.stories.tsx
  packages/ui/src/components/Tooltip/Tooltip.test.tsx
  packages/ui/src/components/Tooltip/Tooltip.tsx
  packages/ui/src/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  packages/ui/src/components/Tooltip/index.ts
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/__snapshots__/TrackTable.test.tsx.snap
  packages/ui/src/components/index.ts
Due: UI Library
