Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: 80..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: false

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"
  require_changes: true
  behavior: default

github_checks:
  annotations: true

flag_management:
  default_rules:
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
        threshold: 1%
        informational: true
      - type: patch
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: true
  individual_components:
    - component_id: player_app
      name: Player (App)
      paths:
        - "packages/player/src/**"
    - component_id: player_tauri
      name: Player (Tauri Rust)
      paths:
        - "packages/player/src-tauri/**"
    - component_id: ui
      name: UI Library
      paths:
        - "packages/ui/src/**"
    - component_id: hifi
      name: Hifi
      paths:
        - "packages/hifi/src/**"
    - component_id: model
      name: Data Model
      paths:
        - "packages/model/src/**"
    - component_id: plugin_sdk
      name: Plugin SDK
      paths:
        - "packages/plugin-sdk/src/**"
    - component_id: themes
      name: Themes
      paths:
        - "packages/themes/src/**"

ignore:
  - "packages/docs/**"
  - "packages/storybook/**"
  - "**/__snapshots__/**"
  - "**/*.snap"
  - "packages/**/dist/**"
  - "**/*.d.ts"

New translations en_us.json (Italian)
  packages/i18n/src/locales/it_IT.json
Due: none

New translations en_us.json (French)
  packages/i18n/src/locales/fr_FR.json
Due: none

New translations en_us.json (Spanish)
  packages/i18n/src/locales/es_ES.json
Due: none

New translations en_us.json (German)
  packages/i18n/src/locales/de_DE.json
Due: none

Add more locales
  packages/i18n/src/i18n.ts
  packages/i18n/src/locales/de_DE.json
  packages/i18n/src/locales/es_ES.json
  packages/i18n/src/locales/fr_FR.json
  packages/i18n/src/locales/it_IT.json
  packages/i18n/src/locales/pt_BR.json
  packages/i18n/src/locales/ru_RU.json
  packages/player/src/main.tsx
  packages/player/src/services/coreSettings.ts
  packages/player/src/services/languageService.ts
  packages/player/src/views/Settings/Settings.tsx
Due: Player (App)

Normalize setting ids
  packages/player/src/services/languageService.ts
  packages/player/src/stores/settingsStore.ts
Due: Player (App)

New translations en_us.json (Russian)
  packages/i18n/src/locales/ru_RU.json
Due: none

New translations en_us.json (Portuguese, Brazilian)
  packages/i18n/src/locales/pt_BR.json
Due: none

Add album metadata capabilities
  packages/plugin-sdk/src/types/search.ts
Due: Plugin SDK

Execute album metadata search
  packages/player/src/services/search/executeAlbumMetadataSearch.ts
Due: Player (App)

Create useAlbumDetails hook
  packages/player/src/views/Album/hooks/useAlbumDetails.ts
Due: Player (App)

Album header + refactor artist header
  packages/player/src/views/Album/components/AlbumHeader.tsx
  packages/player/src/views/Artist/components/ArtistHeader.tsx
Due: Player (App)

Album page and album track list
  packages/player/src/views/Album/Album.tsx
  packages/player/src/views/Album/components/AlbumTrackList.tsx
Due: Player (App)

Album route
  packages/player/src/routeTree.gen.ts
  packages/player/src/routes/album/$providerId/$albumId.tsx
Due: Player (App)

ALlow navigating to album pages
  packages/i18n/src/locales/en_US.json
  packages/player/src/views/Album/components/AlbumHeader.tsx
  packages/player/src/views/Album/components/AlbumTrackList.tsx
  packages/player/src/views/Search/Search.tsx
Due: Player (App)

Allow clicking on albums to navigate to them
  packages/player/src/views/Artist/components/ArtistAlbumsGrid.tsx
Due: Player (App)

Lint
  packages/i18n/src/locales/de_DE.json
  packages/i18n/src/locales/en_US.json
  packages/i18n/src/locales/es_ES.json
  packages/i18n/src/locales/fr_FR.json
  packages/i18n/src/locales/it_IT.json
  packages/i18n/src/locales/pt_BR.json
  packages/i18n/src/locales/ru_RU.json
Due: none

Album view tests
  packages/player/src/test/builders/MetadataProviderBuilder.ts
  packages/player/src/views/Album/Album.test-wrapper.tsx
  packages/player/src/views/Album/Album.test.tsx
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/Artist.test.tsx
Due: Player (App)

Update settings snapshot
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

Data structures for queues
  packages/model/src/index.ts
  packages/player/src/stores/queue/queue.store.ts
  packages/player/src/stores/queue/queue.types.ts
Due: Player (App), Data Model

Baisc queue operations
  packages/player/package.json
  packages/player/src/main.tsx
  packages/player/src/stores/queue/queue.store.ts
  pnpm-lock.yaml
Due: Player (App)

Queue store tests
  packages/player/src/stores/queue/__snapshots__/queue.store.test.ts.snap
  packages/player/src/stores/queue/queue.store.test.ts
  packages/player/src/stores/queue/queue.store.ts
Due: Player (App)

Set UTC timezone for tests
  packages/player/src/stores/queue/__snapshots__/queue.store.test.ts.snap
  packages/player/src/test/setup.ts
Due: Player (App)

Enable shuffle and repeat
  packages/player/src/stores/queue/queue.store.test.ts
  packages/player/src/stores/queue/queue.store.ts
Due: Player (App)

Queue host and types
  packages/plugin-sdk/src/index.ts
  packages/plugin-sdk/src/types/queue.ts
Due: Plugin SDK

Split queue and search types from model
  packages/model/src/index.ts
  packages/model/src/queue.ts
  packages/model/src/search.ts
Due: Data Model

Reorganize queue types
  packages/player/src/stores/queue/queue.store.ts
  packages/player/src/stores/queue/queue.types.ts
  packages/plugin-sdk/src/types/queue.ts
  packages/plugin-sdk/src/types/search.ts
Due: Player (App), Plugin SDK
