Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

New translations en_us.json (Spanish)
  packages/i18n/src/locales/es_ES.json
Due: none

New translations en_us.json (German)
  packages/i18n/src/locales/de_DE.json
Due: none

New translations en_us.json (Italian)
  packages/i18n/src/locales/it_IT.json
Due: none

New translations en_us.json (Russian)
  packages/i18n/src/locales/ru_RU.json
Due: none

New translations en_us.json (Portuguese, Brazilian)
  packages/i18n/src/locales/pt_BR.json
Due: none

Release @nuclearplayer/plugin-sdk v1.1.0
  packages/plugin-sdk/package.json
Due: none

Release @nuclearplayer/player v1.1.0
  packages/player/package.json
Due: none

Create website package
  packages/website/.astro/content-assets.mjs
  packages/website/.astro/content-modules.mjs
  packages/website/.astro/data-store.json
  packages/website/.astro/settings.json
  packages/website/.astro/types.d.ts
  packages/website/astro.config.mjs
  packages/website/package.json
  packages/website/src/pages/index.astro
  packages/website/src/styles/global.css
  packages/website/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: none

TS configs
  .prettierignore
  packages/eslint-config/eslint.config.ts
  packages/website/astro.config.ts
  packages/website/package.json
  pnpm-lock.yaml
Due: none

Website basics
  .gitignore
  packages/website/public/images/nuki-construction.png
  packages/website/public/llms.txt
  packages/website/public/robots.txt
  packages/website/src/layouts/BaseLayout.astro
  packages/website/src/pages/404.astro
  packages/website/src/pages/index.astro
Due: none

Deploy action
  .github/workflows/deploy-website.yml
Due: none

First pass website slop
  packages/player/src-tauri/Cargo.lock
  packages/player/src-tauri/Cargo.toml
  packages/player/src-tauri/tauri.conf.json
  packages/website/.astro/types.d.ts
  packages/website/astro.config.ts
  packages/website/package.json
  packages/website/src/components/Button.astro
  packages/website/src/components/Footer.astro
  packages/website/src/components/Hero.astro
  packages/website/src/components/Screenshot.astro
  packages/website/src/components/SocialProof.astro
  packages/website/src/components/TestimonialCard.astro
  packages/website/src/components/Testimonials.astro
  packages/website/src/data/testimonials.json
  packages/website/src/layouts/BaseLayout.astro
  packages/website/src/pages/preview.astro
  packages/website/src/styles/global.css
  pnpm-lock.yaml
Due: Player (Tauri Rust)

Box and button styles; adapt hero/screenshot layout
  packages/website/src/components/Box.astro
  packages/website/src/components/Button.astro
  packages/website/src/components/Footer.astro
  packages/website/src/components/Hero.astro
  packages/website/src/components/Screenshot.astro
  packages/website/src/components/TestimonialCard.astro
  packages/website/src/pages/preview.astro
Due: none

Website prototype
  packages/website/public/textures/paper.png
  packages/website/src/components/Doodle.astro
  packages/website/src/components/Doodles.astro
  packages/website/src/components/Footer.astro
  packages/website/src/components/Frame.astro
  packages/website/src/components/Hero.astro
  packages/website/src/components/PaperSheet.astro
  packages/website/src/components/SocialProof.astro
  packages/website/src/components/Testimonials.astro
  packages/website/src/pages/preview.astro
Due: none

Add Nuki to Hero
  packages/website/public/images/nuki-running.png
  packages/website/src/components/Hero.astro
Due: none

Fix code review items
  packages/website/src/components/Frame.astro
  packages/website/src/components/PaperSheet.astro
  packages/website/src/styles/global.css
  packages/website/tsconfig.json
Due: none

Linter
  packages/website/src/data/testimonials.json
Due: none

Update AGENTS.md
  AGENTS.md
Due: none

AGENTS.md maintenance
  AGENTS.md
Due: none

Mention standard libraries
  AGENTS.md
Due: none

Add instructions on adding new components
  AGENTS.md
Due: none

Add info on adding new domains
  AGENTS.md
Due: none

Handle new logging format and startup logs
  packages/player/src-tauri/Cargo.lock
  packages/player/src-tauri/Cargo.toml
  packages/player/src-tauri/src/lib.rs
  packages/player/src-tauri/src/logging.rs
  packages/player/src-tauri/src/setup.rs
Due: Player (Tauri Rust)

TS logger implementation
  packages/player/src/services/logger.test.ts
  packages/player/src/services/logger.ts
Due: Player (App)

Simple error reporting
  packages/player/src/utils/logging.test.tsx
  packages/player/src/utils/logging.ts
Due: Player (App)

Better logging for rust HTTP module
  packages/player/src-tauri/src/http.rs
Due: Player (Tauri Rust)

Automatic log based on http code
  packages/player/src-tauri/Cargo.lock
  packages/player/src-tauri/Cargo.toml
  packages/player/src-tauri/src/http.rs
Due: Player (Tauri Rust)

Replace logging withnew service
  packages/player/src/stores/pluginStore.tsx
Due: Player (App)

Use new logger methods in updaterStore
  packages/player/src/stores/updaterStore.ts
Due: Player (App)

Use new logger methods in streamingHost
  packages/player/src/services/streamingHost.ts
Due: Player (App)

Add logging to queue store
  packages/player/src/stores/queueStore.ts
Due: Player (App)

Use new logger methods in soundStore
  packages/player/src/stores/soundStore.ts
Due: Player (App)

Use new logger methods in httpHost
  packages/player/src/services/httpHost.ts
Due: Player (App)

Add more logging in ApiClient
  packages/player/src/apis/ApiClient.ts
Due: Player (App)

Update logging statements for various filesystem operations
  packages/player/src/services/advancedThemeDirService.ts
  packages/player/src/services/plugins/pluginDir.ts
  packages/player/src/utils/logging.ts
  packages/player/src/utils/path.ts
Due: Player (App)

Thorough logging for plugin lifecycle
  packages/player/src/services/plugins/PluginLoader.ts
  packages/player/src/services/plugins/pluginDir.ts
  packages/player/src/services/plugins/pluginRegistry.ts
  packages/player/src/stores/pluginStore.tsx
  packages/player/src/views/Themes/Themes.test.tsx
Due: Player (App)

Logger API for plugins
  packages/player/src/services/loggerHost.test.ts
  packages/player/src/services/loggerHost.ts
  packages/player/src/services/plugins/PluginLoader.ts
  packages/player/src/stores/pluginStore.tsx
  packages/plugin-sdk/src/api/index.ts
  packages/plugin-sdk/src/api/logger.ts
  packages/plugin-sdk/src/index.ts
  packages/plugin-sdk/src/types/logger.ts
Due: Player (App), Plugin SDK

useLogStream tests
  packages/player/src/hooks/useLogStream.test.ts
Due: Player (App)

useLogStream implementation
  packages/player/src/hooks/useLogStream.test.ts
  packages/player/src/hooks/useLogStream.ts
Due: Player (App)

Fix race condition and implement ring buffer
  packages/player/src/hooks/useLogStream.test.ts
  packages/player/src/hooks/useLogStream.ts
  packages/player/src/utils/RingBuffer.test.ts
  packages/player/src/utils/RingBuffer.ts
Due: Player (App)

Path conditions:
  Player (App): any of: packages/player/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Player (Tauri Rust): any of: packages/player/src-tauri/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  UI Library: any of: packages/ui/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Hifi: any of: packages/hifi/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Data Model: any of: packages/model/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Plugin SDK: any of: packages/plugin-sdk/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
  Themes: any of: packages/themes/src/**, but not: packages/docs/**, packages/storybook/**, **/__snapshots__/**, **/*.snap, packages/**/dist/**, **/*.d.ts
