Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: 80..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: false

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"
  require_changes: true
  behavior: default

github_checks:
  annotations: true

flag_management:
  default_rules:
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
        threshold: 1%
        informational: true
      - type: patch
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: true
  individual_components:
    - component_id: player_app
      name: Player (App)
      paths:
        - "packages/player/src/**"
    - component_id: player_tauri
      name: Player (Tauri Rust)
      paths:
        - "packages/player/src-tauri/**"
    - component_id: ui
      name: UI Library
      paths:
        - "packages/ui/src/**"
    - component_id: hifi
      name: Hifi
      paths:
        - "packages/hifi/src/**"
    - component_id: model
      name: Data Model
      paths:
        - "packages/model/src/**"
    - component_id: plugin_sdk
      name: Plugin SDK
      paths:
        - "packages/plugin-sdk/src/**"
    - component_id: themes
      name: Themes
      paths:
        - "packages/themes/src/**"

ignore:
  - "packages/docs/**"
  - "packages/storybook/**"
  - "**/__snapshots__/**"
  - "**/*.snap"
  - "packages/**/dist/**"
  - "**/*.d.ts"

New translations en_us.json (Portuguese, Brazilian)
  packages/i18n/src/locales/pt_BR.json
Due: none

Add plugin creation instructions
  AGENTS.md
Due: none

Update snappies
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/PluginStore.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/ui/src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
Due: none

One API instance
  packages/player/src/stores/pluginStore.tsx
  packages/plugin-sdk/src/types.ts
Due: Player (App), Plugin SDK

Init ytdlp host for plugins
  packages/player/src/stores/pluginStore.tsx
Due: Player (App)

Release @nuclearplayer/plugin-sdk v1.0.0
  packages/plugin-sdk/package.json
Due: none

Release @nuclearplayer/player v1.0.0
  packages/player/package.json
  packages/player/src-tauri/Cargo.toml
  packages/player/src-tauri/tauri.conf.json
Due: Player (Tauri Rust)

Bust cargo cache to fix stale artifacts
  .github/workflows/release-player.yml
Due: none

Workaround for broken wayland shit
  packages/player/src-tauri/src/main.rs
Due: Player (Tauri Rust)

Fix for broken path handling on Windows
  packages/player/src-tauri/Cargo.lock
  packages/player/src/services/plugins/pluginCompiler.ts
Due: Player (App), Player (Tauri Rust)

Favorites store
  packages/player/src/stores/favoritesStore.test.ts
  packages/player/src/stores/favoritesStore.ts
  packages/player/src/test/fixtures/favorites.ts
Due: Player (App)

Plugin SDK types
  packages/plugin-sdk/src/index.ts
  packages/plugin-sdk/src/types/favorites.ts
Due: Plugin SDK

Import favorites types from plugin SDK
  packages/player/src/stores/favoritesStore.ts
Due: Player (App)

Favorites API for plugin SDK
  packages/plugin-sdk/src/api/favorites.ts
  packages/plugin-sdk/src/api/index.ts
  packages/plugin-sdk/src/index.ts
Due: Plugin SDK

Favorites host implementation - link the plugin API to the store
  packages/player/src/services/favoritesHost.test.ts
  packages/player/src/services/favoritesHost.ts
Due: Player (App)

Add all hosts to all api instantiation sites
  packages/player/src/services/plugins/PluginLoader.ts
  packages/player/src/stores/pluginStore.tsx
Due: Player (App)

Favorite albums and artists cards
  packages/i18n/src/locales/en_US.json
  packages/player/src/main.tsx
  packages/player/src/routeTree.gen.ts
  packages/player/src/routes/__root.tsx
  packages/player/src/routes/favorites/albums.tsx
  packages/player/src/routes/favorites/artists.tsx
  packages/player/src/routes/favorites/tracks.tsx
  packages/player/src/views/Favorites/FavoriteAlbums.tsx
  packages/player/src/views/Favorites/FavoriteArtists.tsx
  packages/player/src/views/Favorites/index.ts
Due: Player (App)

Store full Track objects as favorites
  packages/i18n/src/locales/en_US.json
  packages/player/src/services/favoritesHost.test.ts
  packages/player/src/services/favoritesHost.ts
  packages/player/src/stores/favoritesStore.test.ts
  packages/player/src/stores/favoritesStore.ts
  packages/player/src/test/fixtures/favorites.ts
  packages/player/src/views/Favorites/FavoriteAlbums.tsx
  packages/player/src/views/Favorites/FavoriteArtists.tsx
  packages/player/src/views/Favorites/FavoriteTracks.tsx
  packages/plugin-sdk/src/api/favorites.ts
  packages/plugin-sdk/src/types/favorites.ts
Due: Player (App), Plugin SDK

More snapshot tests for favorites
  packages/i18n/src/locales/en_US.json
  packages/player/src/views/Favorites/FavoriteAlbums.test.tsx
  packages/player/src/views/Favorites/FavoriteAlbums.tsx
  packages/player/src/views/Favorites/FavoriteArtists.test.tsx
  packages/player/src/views/Favorites/FavoriteArtists.tsx
  packages/player/src/views/Favorites/FavoriteTracks.test.tsx
  packages/player/src/views/Favorites/FavoriteTracks.tsx
  packages/player/src/views/Favorites/__snapshots__/FavoriteAlbums.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteArtists.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteTracks.test.tsx.snap
Due: Player (App)

Favorite button
  .gitignore
  AGENTS.md
  packages/storybook/src/FavoriteButton.stories.tsx
  packages/ui/src/components/FavoriteButton/FavoriteButton.test.tsx
  packages/ui/src/components/FavoriteButton/FavoriteButton.tsx
  packages/ui/src/components/FavoriteButton/__snapshots__/FavoriteButton.test.tsx.snap
  packages/ui/src/components/FavoriteButton/index.ts
  packages/ui/src/components/index.ts
Due: UI Library

Play now action
  packages/player/src/hooks/useQueueActions.ts
Due: Player (App)

Add/remove favorites from album header
  packages/player/src/components/ConnectedFavoriteButton.tsx
  packages/player/src/views/Album/Album.test-wrapper.tsx
  packages/player/src/views/Album/Album.test.tsx
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Album/components/AlbumHeader.tsx
Due: Player (App)

Add/remove favorites from artist header
  packages/player/src/views/Artist/Artist.test-wrapper.tsx
  packages/player/src/views/Artist/Artist.test.tsx
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Artist/components/ArtistHeader.tsx
Due: Player (App)

Track context menu
  packages/ui/src/components/TrackContextMenu/TrackContextMenu.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuAction.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuContent.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuHeader.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuRoot.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuTrigger.tsx
  packages/ui/src/components/TrackContextMenu/index.ts
  packages/ui/src/components/index.ts
Due: UI Library

Track context menu story
  packages/storybook/src/TrackContextMenu.stories.tsx
Due: none

Track context menu style
  packages/storybook/src/TrackContextMenu.stories.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuAction.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuContent.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuHeader.tsx
Due: UI Library

Connected context popup
  packages/i18n/src/locales/en_US.json
  packages/player/src/components/ConnectedTrackContextMenu.tsx
  packages/ui/src/components/TrackTable/types.ts
Due: Player (App), UI Library

Add favorites cell to track table
  packages/storybook/src/TrackTable.stories.tsx
  packages/ui/src/components/TrackTable/Cells/FavoriteCell.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/defaults.ts
  packages/ui/src/components/TrackTable/hooks/useColumns.tsx
Due: UI Library

Connect favorites actions to track table
  packages/player/src/components/ConnectedFavoriteButton.tsx
  packages/player/src/components/ConnectedTrackTable.tsx
  packages/player/src/views/Album/Album.test-wrapper.tsx
  packages/player/src/views/Album/Album.test.tsx
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Album/components/AlbumHeader.tsx
  packages/player/src/views/Artist/Artist.test-wrapper.tsx
  packages/player/src/views/Artist/Artist.test.tsx
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Artist/components/ArtistHeader.tsx
  packages/player/src/views/Favorites/__snapshots__/FavoriteTracks.test.tsx.snap
Due: Player (App)

Favorites in player bar + player bar refactor
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/components/ConnectedPlayerBar.tsx
  packages/player/src/components/ConnectedPlayerBar/ConnectedControls.tsx
  packages/player/src/components/ConnectedPlayerBar/ConnectedNowPlaying.tsx
  packages/player/src/components/ConnectedPlayerBar/ConnectedPlayerBar.tsx
  packages/player/src/components/ConnectedPlayerBar/ConnectedSeekBar.tsx
  packages/player/src/components/ConnectedPlayerBar/ConnectedVolume.tsx
  packages/player/src/components/ConnectedPlayerBar/index.ts
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/ui/src/components/PlayerBar/PlayerBarNowPlaying.tsx
  packages/ui/src/components/PlayerBar/__snapshots__/PlayerBar.test.tsx.snap
Due: Player (App), UI Library

See if I can avoid coverage fail
  packages/player/src/views/Album/Album.test-wrapper.tsx
  packages/player/src/views/Artist/Artist.test-wrapper.tsx
Due: Player (App)

Wait for entered text
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/Artist.test-wrapper.tsx
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Search/Search.test-wrapper.tsx
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
Due: Player (App)

Add delay in favorite toggle test
  packages/player/src/views/Artist/Artist.test.tsx
Due: Player (App)

Remove button for track tables
  packages/player/src/components/ConnectedTrackTable.tsx
  packages/storybook/src/TrackTable.stories.tsx
  packages/ui/src/components/TrackTable/Cells/RemoveCell.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/hooks/useColumns.tsx
Due: Player (App), UI Library

Misc quality improvements
  packages/player/src/components/ConnectedFavoriteButton.tsx
  packages/player/src/components/ConnectedPlayerBar/ConnectedNowPlaying.tsx
  packages/player/src/components/ConnectedPlayerBar/ConnectedVolume.tsx
  packages/player/src/components/ConnectedTrackTable.tsx
  packages/player/src/utils/sort.ts
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Favorites/FavoriteAlbums.tsx
  packages/player/src/views/Favorites/FavoriteArtists.tsx
  packages/player/src/views/Favorites/FavoriteTracks.tsx
  packages/player/src/views/Favorites/__snapshots__/FavoriteTracks.test.tsx.snap
  packages/ui/src/components/FavoriteButton/FavoriteButton.test.tsx
  packages/ui/src/components/FavoriteButton/FavoriteButton.tsx
  packages/ui/src/components/TrackTable/Cells/FavoriteCell.tsx
  packages/ui/src/components/TrackTable/Cells/RemoveCell.tsx
  packages/ui/src/components/TrackTable/Cells/TitleCell.tsx
  packages/ui/src/components/TrackTable/TrackTable.tsx
  packages/ui/src/components/TrackTable/types.ts
Due: Player (App), UI Library

Track context menu styles
  packages/player/src/components/ConnectedTrackContextMenu.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuAction.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuContent.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenuHeader.tsx
Due: Player (App), UI Library

Fix flaky test
  packages/player/src/views/Artist/Artist.test.tsx
Due: Player (App)

Fix flaky tests
  packages/player/src/views/Artist/Artist.test.tsx
  packages/player/src/views/Search/Search.test-wrapper.tsx
Due: Player (App)

Improve test coverage
  packages/player/src/views/Album/Album.test-wrapper.tsx
  packages/player/src/views/Album/Album.test.tsx
  packages/ui/src/components/TrackContextMenu/TrackContextMenu.test.tsx
  packages/ui/src/components/TrackContextMenu/__snapshots__/TrackContextMenu.test.tsx.snap
Due: Player (App), UI Library

New translations en_us.json (French)
  packages/i18n/src/locales/fr_FR.json
Due: none
