Repository NuclearPlayer/nuclear-xrd: changes, and which Codecov flags are due for each by the changed paths.
All: Player (App), Player (Tauri Rust), UI Library, Hifi, Data Model, Plugin SDK, Themes

codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  round: down
  range: 80..100

  status:
    project:
      default:
        target: 80%
        threshold: 1%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: false

parsers:
  javascript:
    enable_partials: yes

comment:
  layout: "header, diff, flags, components"
  require_changes: true
  behavior: default

github_checks:
  annotations: true

flag_management:
  default_rules:
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
        threshold: 1%
        informational: true
      - type: patch
        target: 80%
        threshold: 0%
        only_pulls: true
        informational: true
  individual_components:
    - component_id: player_app
      name: Player (App)
      paths:
        - "packages/player/src/**"
    - component_id: player_tauri
      name: Player (Tauri Rust)
      paths:
        - "packages/player/src-tauri/**"
    - component_id: ui
      name: UI Library
      paths:
        - "packages/ui/src/**"
    - component_id: hifi
      name: Hifi
      paths:
        - "packages/hifi/src/**"
    - component_id: model
      name: Data Model
      paths:
        - "packages/model/src/**"
    - component_id: plugin_sdk
      name: Plugin SDK
      paths:
        - "packages/plugin-sdk/src/**"
    - component_id: themes
      name: Themes
      paths:
        - "packages/themes/src/**"

ignore:
  - "packages/docs/**"
  - "packages/storybook/**"
  - "**/__snapshots__/**"
  - "**/*.snap"
  - "packages/**/dist/**"
  - "**/*.d.ts"

New translations en_us.json (Italian)
  packages/i18n/src/locales/it_IT.json
Due: none

New translations en_us.json (Russian)
  packages/i18n/src/locales/ru_RU.json
Due: none

New translations en_us.json (Portuguese, Brazilian)
  packages/i18n/src/locales/pt_BR.json
Due: none

player@1.5.0
  packages/player/package.json
  packages/player/src-tauri/tauri.conf.json
Due: Player (Tauri Rust)

Normalize paths for windows
  packages/player/src/services/plugins/pluginCompiler.ts
Due: Player (App)

Album page tweaks
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Album/components/AlbumHeader.tsx
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Artist/components/ArtistBioHeader.tsx
  packages/player/src/views/Artist/components/ArtistSocialHeader.tsx
  packages/ui/src/components/StatChip/StatChip.test.tsx
  packages/ui/src/components/StatChip/StatChip.tsx
  packages/ui/src/components/StatChip/__snapshots__/StatChip.test.tsx.snap
  packages/ui/src/components/StatChip/index.ts
  packages/ui/src/components/index.ts
Due: Player (App), UI Library

Update snapshots
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
Due: none

Dashboard provider stub
  packages/plugin-sdk/src/index.ts
  packages/plugin-sdk/src/types/dashboard.ts
  packages/plugin-sdk/src/types/providers.ts
Due: Plugin SDK

Export all from dashboard
  packages/plugin-sdk/src/index.ts
Due: Plugin SDK

Dashboard plugin API
  packages/plugin-sdk/src/api/dashboard.ts
  packages/plugin-sdk/src/api/index.ts
  packages/plugin-sdk/src/index.ts
Due: Plugin SDK

Dashboard host
  packages/player/src/services/dashboardHost.test.ts
  packages/player/src/services/dashboardHost.ts
  packages/player/src/test/builders/DashboardProviderBuilder.ts
Due: Player (App)

Lock provider type when getting providers
  AGENTS.md
  packages/player/src/services/dashboardHost.test.ts
  packages/player/src/services/dashboardHost.ts
  packages/player/src/services/metadataHost.test.ts
  packages/player/src/services/metadataHost.ts
  packages/player/src/services/providersHost.ts
  packages/player/src/services/providersService.test.ts
  packages/player/src/views/Artist/Artist.tsx
  packages/plugin-sdk/src/api/providers.ts
  packages/plugin-sdk/src/types/providers.ts
  packages/plugin-sdk/src/types/search.ts
Due: Player (App), Plugin SDK

Report errors when there are missing capabilities without breaking the dashboard
  packages/player/src/services/dashboardHost.test.ts
  packages/player/src/services/dashboardHost.ts
  packages/player/src/services/logger.ts
Due: Player (App)

Dashboard view tdd tests
  packages/player/src/stores/pluginStore.tsx
  packages/player/src/test/fixtures/dashboard.ts
  packages/player/src/views/Dashboard/Dashboard.test-wrapper.tsx
  packages/player/src/views/Dashboard/Dashboard.test.tsx
Due: Player (App)

Update AGENTS.md with more test setup instructions
  AGENTS.md
Due: none

Dashboard widgets
  packages/i18n/src/locales/en_US.json
  packages/player/src-tauri/src/main.rs
  packages/player/src/test/fixtures/dashboard.ts
  packages/player/src/views/Dashboard.tsx
  packages/player/src/views/Dashboard/Dashboard.tsx
  packages/player/src/views/Dashboard/components/DashboardEmptyState.tsx
  packages/player/src/views/Dashboard/components/TopArtistsWidget.tsx
  packages/player/src/views/Dashboard/components/TopTracksWidget.tsx
  packages/player/src/views/Dashboard/dashboardWidgets.ts
  packages/player/src/views/Dashboard/hooks/useDashboardData.ts
  packages/player/src/views/Dashboard/index.ts
  packages/plugin-sdk/src/api/dashboard.ts
  packages/plugin-sdk/src/types/dashboard.ts
Due: Player (App), Player (Tauri Rust), Plugin SDK

CardsRow component
  packages/storybook/src/CardsRow.stories.tsx
  packages/ui/src/components/Box/Box.tsx
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/CardsRow/CardsRow.test.tsx
  packages/ui/src/components/CardsRow/CardsRow.tsx
  packages/ui/src/components/CardsRow/__snapshots__/CardsRow.test.tsx.snap
  packages/ui/src/components/CardsRow/index.ts
  packages/ui/src/components/Input/Input.test.tsx
  packages/ui/src/components/Input/Input.tsx
  packages/ui/src/components/Input/__snapshots__/Input.test.tsx.snap
  packages/ui/src/components/LogViewer/__snapshots__/LogViewer.test.tsx.snap
  packages/ui/src/components/TrackTable/__snapshots__/TrackTable.test.tsx.snap
  packages/ui/src/components/index.ts
Due: UI Library

Cards row refactors
  packages/ui/src/components/Card/Card.tsx
  packages/ui/src/components/Card/__snapshots__/Card.test.tsx.snap
  packages/ui/src/components/CardsRow/CardsRow.test-wrapper.tsx
  packages/ui/src/components/CardsRow/CardsRow.test.tsx
  packages/ui/src/components/CardsRow/CardsRow.tsx
  packages/ui/src/components/CardsRow/__snapshots__/CardsRow.test.tsx.snap
  packages/ui/src/components/CardsRow/useCardsRow.ts
Due: UI Library

Add an optional badge to CardsRow
  packages/storybook/src/CardsRow.stories.tsx
  packages/ui/src/components/CardsRow/CardsRow.test-wrapper.tsx
  packages/ui/src/components/CardsRow/CardsRow.test.tsx
  packages/ui/src/components/CardsRow/CardsRow.tsx
  packages/ui/src/components/CardsRow/__snapshots__/CardsRow.test.tsx.snap
Due: UI Library

Top artists widget
  packages/i18n/src/locales/en_US.json
  packages/player/src/views/Dashboard/components/DashboardCardsWidget.tsx
  packages/player/src/views/Dashboard/components/TopArtistsWidget.tsx
Due: Player (App)

Dashboard data fetch hooks
  packages/player/src/views/Dashboard/hooks/useDashboardData.ts
Due: Player (App)

Update snapshots
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteAlbums.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteArtists.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteTracks.test.tsx.snap
  packages/player/src/views/PlaylistDetail/__snapshots__/PlaylistDetail.test.tsx.snap
  packages/player/src/views/Playlists/__snapshots__/Playlists.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/PluginStore.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/ui/src/components/CardGrid/__snapshots__/CardGrid.test.tsx.snap
  packages/ui/src/components/EmptyState/__snapshots__/EmptyState.test.tsx.snap
  packages/ui/src/components/LogViewer/__snapshots__/LogViewer.test.tsx.snap
  packages/ui/src/components/PlayerBar/__snapshots__/PlayerBar.test.tsx.snap
  packages/ui/src/components/PlayerWorkspace/__snapshots__/PlayerWorkspace.test.tsx.snap
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
  packages/ui/src/components/PluginStoreItem/__snapshots__/PluginStoreItem.test.tsx.snap
  packages/ui/src/components/Popover/__snapshots__/Popover.test.tsx.snap
  packages/ui/src/components/QueueItem/__snapshots__/QueueItem.test.tsx.snap
  packages/ui/src/components/QueuePanel/__snapshots__/QueuePanel.test.tsx.snap
  packages/ui/src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  packages/ui/src/components/__snapshots__/PlayerShell.test.tsx.snap
Due: none

More dashboard widgets
  packages/player/src/views/Dashboard/Dashboard.test-wrapper.tsx
  packages/player/src/views/Dashboard/Dashboard.test.tsx
  packages/player/src/views/Dashboard/components/EditorialPlaylistsWidget.tsx
  packages/player/src/views/Dashboard/components/NewReleasesWidget.tsx
  packages/player/src/views/Dashboard/components/TopAlbumsWidget.tsx
  packages/player/src/views/Dashboard/dashboardWidgets.ts
Due: Player (App)

Lint
  packages/i18n/src/locales/en_US.json
Due: none

New dashboard provider docs
  packages/docs/README.md
  packages/docs/SUMMARY.md
  packages/docs/plugins/dashboard.md
  packages/docs/plugins/favorites.md
  packages/docs/plugins/providers.md
  packages/plugin-sdk/README.md
  packages/ui/src/components/Button/Button.tsx
  packages/ui/src/components/Tabs/Tabs.tsx
Due: UI Library

Update snapshots
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/views/Album/__snapshots__/Album.test.tsx.snap
  packages/player/src/views/Artist/__snapshots__/Artist.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteAlbums.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteArtists.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteTracks.test.tsx.snap
  packages/player/src/views/PlaylistDetail/__snapshots__/PlaylistDetail.test.tsx.snap
  packages/player/src/views/Playlists/__snapshots__/Playlists.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/PluginStore.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/ui/src/components/Card/__snapshots__/Card.test.tsx.snap
  packages/ui/src/components/CardGrid/__snapshots__/CardGrid.test.tsx.snap
  packages/ui/src/components/CardsRow/__snapshots__/CardsRow.test.tsx.snap
  packages/ui/src/components/Dialog/__snapshots__/Dialog.test.tsx.snap
  packages/ui/src/components/EmptyState/__snapshots__/EmptyState.test.tsx.snap
  packages/ui/src/components/FavoriteButton/__snapshots__/FavoriteButton.test.tsx.snap
  packages/ui/src/components/LogViewer/__snapshots__/LogViewer.test.tsx.snap
  packages/ui/src/components/PlayerBar/__snapshots__/PlayerBar.test.tsx.snap
  packages/ui/src/components/PlayerWorkspace/__snapshots__/PlayerWorkspace.test.tsx.snap
  packages/ui/src/components/PluginItem/__snapshots__/PluginItem.test.tsx.snap
  packages/ui/src/components/PluginStoreItem/__snapshots__/PluginStoreItem.test.tsx.snap
  packages/ui/src/components/Popover/__snapshots__/Popover.test.tsx.snap
  packages/ui/src/components/QueueItem/__snapshots__/QueueItem.test.tsx.snap
  packages/ui/src/components/QueuePanel/__snapshots__/QueuePanel.test.tsx.snap
  packages/ui/src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  packages/ui/src/components/__snapshots__/PlayerShell.test.tsx.snap
Due: none

Fix doc parsing
  packages/docs/plugins/dashboard.md
Due: none

New translations en_us.json (French)
  packages/i18n/src/locales/fr_FR.json
Due: none

New translations en_us.json (Spanish)
  packages/i18n/src/locales/es_ES.json
Due: none

New translations en_us.json (German)
  packages/i18n/src/locales/de_DE.json
Due: none

Navigate directly to artist/album or to search depending on linked metadata providers
  packages/player/src/views/Dashboard/components/NewReleasesWidget.tsx
  packages/player/src/views/Dashboard/components/TopAlbumsWidget.tsx
  packages/player/src/views/Dashboard/components/TopArtistsWidget.tsx
  packages/player/src/views/Dashboard/hooks/useNavigateToEntity.ts
  packages/plugin-sdk/src/types/dashboard.ts
Due: Player (App), Plugin SDK

Dashboard entity search test
  packages/player/src/views/Dashboard/Dashboard.test-wrapper.tsx
  packages/player/src/views/Dashboard/Dashboard.test.tsx
Due: Player (App)

Dashboard cosmetic changes
  packages/player/src/__snapshots__/App.test.tsx.snap
  packages/player/src/views/Dashboard/dashboardWidgets.ts
  packages/player/src/views/Favorites/__snapshots__/FavoriteAlbums.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteArtists.test.tsx.snap
  packages/player/src/views/Favorites/__snapshots__/FavoriteTracks.test.tsx.snap
  packages/player/src/views/PlaylistDetail/__snapshots__/PlaylistDetail.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/PluginStore.test.tsx.snap
  packages/player/src/views/Plugins/__snapshots__/Plugins.test.tsx.snap
  packages/player/src/views/Search/__snapshots__/Search.test.tsx.snap
  packages/player/src/views/Settings/__snapshots__/Settings.test.tsx.snap
  packages/player/src/views/Themes/__snapshots__/Themes.test.tsx.snap
  packages/ui/src/components/ViewShell/ViewShell.tsx
Due: Player (App), UI Library

plugin-sdk@2.1.0
  packages/plugin-sdk/package.json
Due: none

plugin-sdk@2.1.1
  packages/plugin-sdk/package.json
Due: none

Add dashboard category
  packages/player/src/apis/pluginMarketplaceApi.ts
Due: Player (App)

Flatpak configs
  packages/player/src-tauri/resources/com.nuclearplayer.Nuclear.desktop
  packages/player/src-tauri/resources/com.nuclearplayer.Nuclear.metainfo.xml
Due: Player (Tauri Rust)
